body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:479px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:308px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u22461 {
  position:absolute;
  left:54px;
  top:53px;
  width:425px;
  height:308px;
}
#u22462 {
  position:absolute;
  left:2px;
  top:146px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:2px;
}
#u22463 {
  position:absolute;
  left:53px;
  top:309px;
  width:426px;
  height:1px;
}
#u22464 {
  position:absolute;
  left:2px;
  top:-8px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22465 {
  position:absolute;
  left:319px;
  top:320px;
  width:54px;
  height:30px;
}
#u22466 {
  position:absolute;
  left:2px;
  top:7px;
  width:50px;
  word-wrap:break-word;
}
#u22465_ann {
  position:absolute;
  left:366px;
  top:316px;
  width:1px;
  height:1px;
}
#u22467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u22467 {
  position:absolute;
  left:403px;
  top:320px;
  width:52px;
  height:30px;
  color:#666666;
}
#u22468 {
  position:absolute;
  left:2px;
  top:7px;
  width:48px;
  word-wrap:break-word;
}
#u22469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:40px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 236, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22469 {
  position:absolute;
  left:54px;
  top:53px;
  width:425px;
  height:40px;
}
#u22470 {
  position:absolute;
  left:2px;
  top:12px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u22471 {
  position:absolute;
  left:64px;
  top:65px;
  width:85px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u22472 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u22473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u22473 {
  position:absolute;
  left:456px;
  top:66px;
  width:12px;
  height:14px;
}
#u22474 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u22475 {
  position:absolute;
  left:99px;
  top:236px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u22476 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u22477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u22477 {
  position:absolute;
  left:169px;
  top:228px;
  width:209px;
  height:32px;
  text-align:left;
}
#u22478 {
  position:absolute;
  left:2px;
  top:8px;
  width:205px;
  word-wrap:break-word;
}
#u22477_ann {
  position:absolute;
  left:371px;
  top:224px;
  width:1px;
  height:1px;
}
#u22479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:20px;
}
#u22479 {
  position:absolute;
  left:53px;
  top:63px;
  width:8px;
  height:20px;
}
#u22480 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u22481 {
  position:absolute;
  left:94px;
  top:109px;
  width:71px;
  height:16px;
  font-size:13px;
  text-align:right;
}
#u22482 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u22483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u22483 {
  position:absolute;
  left:169px;
  top:101px;
  width:209px;
  height:32px;
  text-align:left;
}
#u22484 {
  position:absolute;
  left:2px;
  top:8px;
  width:205px;
  word-wrap:break-word;
}
#u22483_ann {
  position:absolute;
  left:371px;
  top:97px;
  width:1px;
  height:1px;
}
#u22485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u22485 {
  position:absolute;
  left:67px;
  top:154px;
  width:97px;
  height:16px;
  font-size:13px;
  text-align:right;
}
#u22486 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u22487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u22487 {
  position:absolute;
  left:169px;
  top:145px;
  width:209px;
  height:32px;
  text-align:left;
}
#u22488 {
  position:absolute;
  left:2px;
  top:8px;
  width:205px;
  word-wrap:break-word;
}
#u22487_ann {
  position:absolute;
  left:371px;
  top:141px;
  width:1px;
  height:1px;
}
#u22489 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22490 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u22491 {
  position:absolute;
  left:169px;
  top:185px;
  width:120px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u22492 {
  position:absolute;
  left:12px;
  top:5px;
  width:100px;
  word-wrap:break-word;
}
#u22493 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
#u22494 {
  position:absolute;
  left:270px;
  top:196px;
  width:14px;
  height:9px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u22495 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22496 {
  position:absolute;
  left:282px;
  top:197px;
  width:9px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u22497 {
  position:absolute;
  left:2px;
  top:-2px;
  width:5px;
  word-wrap:break-word;
}
#u22498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u22498 {
  position:absolute;
  left:97px;
  top:185px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u22499 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u22500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u22500 {
  position:absolute;
  left:125px;
  top:277px;
  width:40px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u22501 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u22502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u22502 {
  position:absolute;
  left:181px;
  top:277px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u22503 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
