body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:614px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21210 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:435px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u21211 {
  position:absolute;
  left:24px;
  top:72px;
  width:590px;
  height:435px;
}
#u21212 {
  position:absolute;
  left:2px;
  top:210px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:2px;
}
#u21213 {
  position:absolute;
  left:24px;
  top:459px;
  width:590px;
  height:1px;
}
#u21214 {
  position:absolute;
  left:2px;
  top:-8px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21215 {
  position:absolute;
  left:395px;
  top:472px;
  width:65px;
  height:27px;
}
#u21216 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u21215_ann {
  position:absolute;
  left:453px;
  top:468px;
  width:1px;
  height:1px;
}
#u21217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21217 {
  position:absolute;
  left:468px;
  top:472px;
  width:65px;
  height:27px;
  color:#666666;
}
#u21218 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u21219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:40px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 236, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21219 {
  position:absolute;
  left:23px;
  top:72px;
  width:591px;
  height:40px;
}
#u21220 {
  position:absolute;
  left:2px;
  top:12px;
  width:587px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u21221 {
  position:absolute;
  left:35px;
  top:83px;
  width:85px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u21222 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u21223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:20px;
}
#u21223 {
  position:absolute;
  left:27px;
  top:80px;
  width:8px;
  height:20px;
}
#u21224 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21225 {
  position:absolute;
  left:34px;
  top:113px;
  width:575px;
  height:238px;
}
#u21226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:29px;
}
#u21226 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u21227 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u21228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:29px;
}
#u21228 {
  position:absolute;
  left:79px;
  top:0px;
  width:171px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u21229 {
  position:absolute;
  left:2px;
  top:4px;
  width:167px;
  word-wrap:break-word;
}
#u21230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:29px;
}
#u21230 {
  position:absolute;
  left:250px;
  top:0px;
  width:127px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u21231 {
  position:absolute;
  left:2px;
  top:4px;
  width:123px;
  word-wrap:break-word;
}
#u21232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:29px;
}
#u21232 {
  position:absolute;
  left:377px;
  top:0px;
  width:193px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u21233 {
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u21234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
}
#u21234 {
  position:absolute;
  left:0px;
  top:29px;
  width:79px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:center;
  line-height:28px;
}
#u21235 {
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u21236 {
  position:absolute;
  left:79px;
  top:29px;
  width:171px;
  height:32px;
  line-height:28px;
}
#u21237 {
  position:absolute;
  left:2px;
  top:2px;
  width:167px;
  word-wrap:break-word;
}
#u21238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
}
#u21238 {
  position:absolute;
  left:250px;
  top:29px;
  width:127px;
  height:32px;
}
#u21239 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:32px;
}
#u21240 {
  position:absolute;
  left:377px;
  top:29px;
  width:193px;
  height:32px;
}
#u21241 {
  position:absolute;
  left:2px;
  top:8px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
}
#u21242 {
  position:absolute;
  left:0px;
  top:61px;
  width:79px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:center;
  line-height:28px;
}
#u21243 {
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u21244 {
  position:absolute;
  left:79px;
  top:61px;
  width:171px;
  height:32px;
  line-height:28px;
}
#u21245 {
  position:absolute;
  left:2px;
  top:2px;
  width:167px;
  word-wrap:break-word;
}
#u21246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
}
#u21246 {
  position:absolute;
  left:250px;
  top:61px;
  width:127px;
  height:32px;
}
#u21247 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:32px;
}
#u21248 {
  position:absolute;
  left:377px;
  top:61px;
  width:193px;
  height:32px;
}
#u21249 {
  position:absolute;
  left:2px;
  top:8px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:35px;
}
#u21250 {
  position:absolute;
  left:0px;
  top:93px;
  width:79px;
  height:35px;
  text-align:center;
  line-height:28px;
}
#u21251 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u21252 {
  position:absolute;
  left:79px;
  top:93px;
  width:171px;
  height:35px;
  line-height:28px;
}
#u21253 {
  position:absolute;
  left:2px;
  top:4px;
  width:167px;
  word-wrap:break-word;
}
#u21254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
}
#u21254 {
  position:absolute;
  left:250px;
  top:93px;
  width:127px;
  height:35px;
}
#u21255 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:35px;
}
#u21256 {
  position:absolute;
  left:377px;
  top:93px;
  width:193px;
  height:35px;
}
#u21257 {
  position:absolute;
  left:2px;
  top:10px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:35px;
}
#u21258 {
  position:absolute;
  left:0px;
  top:128px;
  width:79px;
  height:35px;
  text-align:center;
  line-height:28px;
}
#u21259 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u21260 {
  position:absolute;
  left:79px;
  top:128px;
  width:171px;
  height:35px;
  text-align:left;
  line-height:28px;
}
#u21261 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
}
#u21262 {
  position:absolute;
  left:250px;
  top:128px;
  width:127px;
  height:35px;
}
#u21263 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:35px;
}
#u21264 {
  position:absolute;
  left:377px;
  top:128px;
  width:193px;
  height:35px;
}
#u21265 {
  position:absolute;
  left:2px;
  top:10px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:35px;
}
#u21266 {
  position:absolute;
  left:0px;
  top:163px;
  width:79px;
  height:35px;
  text-align:center;
  line-height:28px;
}
#u21267 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u21268 {
  position:absolute;
  left:79px;
  top:163px;
  width:171px;
  height:35px;
  text-align:left;
  line-height:28px;
}
#u21269 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
}
#u21270 {
  position:absolute;
  left:250px;
  top:163px;
  width:127px;
  height:35px;
}
#u21271 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:35px;
}
#u21272 {
  position:absolute;
  left:377px;
  top:163px;
  width:193px;
  height:35px;
}
#u21273 {
  position:absolute;
  left:2px;
  top:10px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:35px;
}
#u21274 {
  position:absolute;
  left:0px;
  top:198px;
  width:79px;
  height:35px;
  text-align:center;
  line-height:28px;
}
#u21275 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u21276 {
  position:absolute;
  left:79px;
  top:198px;
  width:171px;
  height:35px;
  text-align:left;
  line-height:28px;
}
#u21277 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
}
#u21278 {
  position:absolute;
  left:250px;
  top:198px;
  width:127px;
  height:35px;
}
#u21279 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:35px;
}
#u21280 {
  position:absolute;
  left:377px;
  top:198px;
  width:193px;
  height:35px;
}
#u21281 {
  position:absolute;
  left:2px;
  top:10px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u21282 {
  position:absolute;
  left:578px;
  top:85px;
  width:12px;
  height:14px;
}
#u21283 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21284 {
  position:absolute;
  left:58px;
  top:151px;
  width:19px;
  height:16px;
}
#u21285 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21284_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21286 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21287 {
  position:absolute;
  left:58px;
  top:184px;
  width:14px;
  height:14px;
}
#u21288 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u21289 {
  position:absolute;
  left:61px;
  top:188px;
  width:8px;
  height:6px;
}
#u21290 {
  position:absolute;
  left:2px;
  top:-5px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21291 {
  position:absolute;
  left:71px;
  top:120px;
  width:19px;
  height:16px;
}
#u21292 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21291_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
