body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:755px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21912 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:468px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u21913 {
  position:absolute;
  left:24px;
  top:11px;
  width:731px;
  height:468px;
}
#u21914 {
  position:absolute;
  left:2px;
  top:226px;
  width:727px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:732px;
  height:2px;
}
#u21915 {
  position:absolute;
  left:24px;
  top:426px;
  width:731px;
  height:1px;
}
#u21916 {
  position:absolute;
  left:2px;
  top:-8px;
  width:727px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21917 {
  position:absolute;
  left:352px;
  top:441px;
  width:81px;
  height:29px;
  color:#666666;
}
#u21918 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u21919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:732px;
  height:40px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 236, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21919 {
  position:absolute;
  left:23px;
  top:14px;
  width:732px;
  height:40px;
}
#u21920 {
  position:absolute;
  left:2px;
  top:12px;
  width:728px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u21921 {
  position:absolute;
  left:35px;
  top:25px;
  width:85px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u21922 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u21923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:20px;
}
#u21923 {
  position:absolute;
  left:27px;
  top:22px;
  width:8px;
  height:20px;
}
#u21924 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:732px;
  height:2px;
}
#u21925 {
  position:absolute;
  left:24px;
  top:106px;
  width:731px;
  height:1px;
}
#u21926 {
  position:absolute;
  left:2px;
  top:-8px;
  width:727px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21927 {
  position:absolute;
  left:30px;
  top:156px;
  width:725px;
  height:238px;
}
#u21928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:29px;
}
#u21928 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u21929 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u21930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:29px;
}
#u21930 {
  position:absolute;
  left:63px;
  top:0px;
  width:154px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u21931 {
  position:absolute;
  left:2px;
  top:4px;
  width:150px;
  word-wrap:break-word;
}
#u21932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:29px;
}
#u21932 {
  position:absolute;
  left:217px;
  top:0px;
  width:90px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u21933 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u21934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:29px;
}
#u21934 {
  position:absolute;
  left:307px;
  top:0px;
  width:103px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u21935 {
  position:absolute;
  left:2px;
  top:4px;
  width:99px;
  word-wrap:break-word;
}
#u21936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:29px;
}
#u21936 {
  position:absolute;
  left:410px;
  top:0px;
  width:71px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u21937 {
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u21938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
}
#u21938 {
  position:absolute;
  left:481px;
  top:0px;
  width:95px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u21939 {
  position:absolute;
  left:2px;
  top:4px;
  width:91px;
  word-wrap:break-word;
}
#u21940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:29px;
}
#u21940 {
  position:absolute;
  left:576px;
  top:0px;
  width:144px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u21941 {
  position:absolute;
  left:2px;
  top:4px;
  width:140px;
  word-wrap:break-word;
}
#u21942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:32px;
}
#u21942 {
  position:absolute;
  left:0px;
  top:29px;
  width:63px;
  height:32px;
  text-align:center;
  line-height:28px;
}
#u21943 {
  position:absolute;
  left:2px;
  top:8px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:32px;
}
#u21944 {
  position:absolute;
  left:63px;
  top:29px;
  width:154px;
  height:32px;
  line-height:28px;
}
#u21945 {
  position:absolute;
  left:2px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u21946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:32px;
}
#u21946 {
  position:absolute;
  left:217px;
  top:29px;
  width:90px;
  height:32px;
}
#u21947 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u21948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
}
#u21948 {
  position:absolute;
  left:307px;
  top:29px;
  width:103px;
  height:32px;
}
#u21949 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
#u21950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
}
#u21950 {
  position:absolute;
  left:410px;
  top:29px;
  width:71px;
  height:32px;
}
#u21951 {
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
#u21952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
}
#u21952 {
  position:absolute;
  left:481px;
  top:29px;
  width:95px;
  height:32px;
}
#u21953 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:32px;
}
#u21954 {
  position:absolute;
  left:576px;
  top:29px;
  width:144px;
  height:32px;
}
#u21955 {
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:32px;
}
#u21956 {
  position:absolute;
  left:0px;
  top:61px;
  width:63px;
  height:32px;
  text-align:center;
  line-height:28px;
}
#u21957 {
  position:absolute;
  left:2px;
  top:8px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:32px;
}
#u21958 {
  position:absolute;
  left:63px;
  top:61px;
  width:154px;
  height:32px;
  line-height:28px;
}
#u21959 {
  position:absolute;
  left:2px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u21960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:32px;
}
#u21960 {
  position:absolute;
  left:217px;
  top:61px;
  width:90px;
  height:32px;
}
#u21961 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u21962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
}
#u21962 {
  position:absolute;
  left:307px;
  top:61px;
  width:103px;
  height:32px;
}
#u21963 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
#u21964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
}
#u21964 {
  position:absolute;
  left:410px;
  top:61px;
  width:71px;
  height:32px;
}
#u21965 {
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
#u21966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
}
#u21966 {
  position:absolute;
  left:481px;
  top:61px;
  width:95px;
  height:32px;
}
#u21967 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:32px;
}
#u21968 {
  position:absolute;
  left:576px;
  top:61px;
  width:144px;
  height:32px;
}
#u21969 {
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:35px;
}
#u21970 {
  position:absolute;
  left:0px;
  top:93px;
  width:63px;
  height:35px;
  text-align:center;
  line-height:28px;
}
#u21971 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
}
#u21972 {
  position:absolute;
  left:63px;
  top:93px;
  width:154px;
  height:35px;
  line-height:28px;
}
#u21973 {
  position:absolute;
  left:2px;
  top:10px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u21974 {
  position:absolute;
  left:217px;
  top:93px;
  width:90px;
  height:35px;
}
#u21975 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
}
#u21976 {
  position:absolute;
  left:307px;
  top:93px;
  width:103px;
  height:35px;
}
#u21977 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
}
#u21978 {
  position:absolute;
  left:410px;
  top:93px;
  width:71px;
  height:35px;
}
#u21979 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
}
#u21980 {
  position:absolute;
  left:481px;
  top:93px;
  width:95px;
  height:35px;
}
#u21981 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:35px;
}
#u21982 {
  position:absolute;
  left:576px;
  top:93px;
  width:144px;
  height:35px;
}
#u21983 {
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:35px;
}
#u21984 {
  position:absolute;
  left:0px;
  top:128px;
  width:63px;
  height:35px;
  text-align:center;
  line-height:28px;
}
#u21985 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
}
#u21986 {
  position:absolute;
  left:63px;
  top:128px;
  width:154px;
  height:35px;
  text-align:left;
  line-height:28px;
}
#u21987 {
  position:absolute;
  left:2px;
  top:10px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u21988 {
  position:absolute;
  left:217px;
  top:128px;
  width:90px;
  height:35px;
}
#u21989 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
}
#u21990 {
  position:absolute;
  left:307px;
  top:128px;
  width:103px;
  height:35px;
}
#u21991 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
}
#u21992 {
  position:absolute;
  left:410px;
  top:128px;
  width:71px;
  height:35px;
}
#u21993 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
}
#u21994 {
  position:absolute;
  left:481px;
  top:128px;
  width:95px;
  height:35px;
}
#u21995 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:35px;
}
#u21996 {
  position:absolute;
  left:576px;
  top:128px;
  width:144px;
  height:35px;
}
#u21997 {
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:35px;
}
#u21998 {
  position:absolute;
  left:0px;
  top:163px;
  width:63px;
  height:35px;
  text-align:center;
  line-height:28px;
}
#u21999 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
}
#u22000 {
  position:absolute;
  left:63px;
  top:163px;
  width:154px;
  height:35px;
  text-align:left;
  line-height:28px;
}
#u22001 {
  position:absolute;
  left:2px;
  top:10px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u22002 {
  position:absolute;
  left:217px;
  top:163px;
  width:90px;
  height:35px;
}
#u22003 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
}
#u22004 {
  position:absolute;
  left:307px;
  top:163px;
  width:103px;
  height:35px;
}
#u22005 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
}
#u22006 {
  position:absolute;
  left:410px;
  top:163px;
  width:71px;
  height:35px;
}
#u22007 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
}
#u22008 {
  position:absolute;
  left:481px;
  top:163px;
  width:95px;
  height:35px;
}
#u22009 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:35px;
}
#u22010 {
  position:absolute;
  left:576px;
  top:163px;
  width:144px;
  height:35px;
}
#u22011 {
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:35px;
}
#u22012 {
  position:absolute;
  left:0px;
  top:198px;
  width:63px;
  height:35px;
  text-align:center;
  line-height:28px;
}
#u22013 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
}
#u22014 {
  position:absolute;
  left:63px;
  top:198px;
  width:154px;
  height:35px;
  text-align:left;
  line-height:28px;
}
#u22015 {
  position:absolute;
  left:2px;
  top:10px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u22016 {
  position:absolute;
  left:217px;
  top:198px;
  width:90px;
  height:35px;
}
#u22017 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
}
#u22018 {
  position:absolute;
  left:307px;
  top:198px;
  width:103px;
  height:35px;
}
#u22019 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
}
#u22020 {
  position:absolute;
  left:410px;
  top:198px;
  width:71px;
  height:35px;
}
#u22021 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
}
#u22022 {
  position:absolute;
  left:481px;
  top:198px;
  width:95px;
  height:35px;
}
#u22023 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:35px;
}
#u22024 {
  position:absolute;
  left:576px;
  top:198px;
  width:144px;
  height:35px;
}
#u22025 {
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u22026 {
  position:absolute;
  left:731px;
  top:27px;
  width:12px;
  height:14px;
}
#u22027 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22028 {
  position:absolute;
  left:219px;
  top:60px;
  width:64px;
  height:31px;
}
#u22029 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u22028_ann {
  position:absolute;
  left:276px;
  top:56px;
  width:1px;
  height:1px;
}
#u22030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:732px;
  height:2px;
}
#u22030 {
  position:absolute;
  left:24px;
  top:152px;
  width:731px;
  height:1px;
}
#u22031 {
  position:absolute;
  left:2px;
  top:-8px;
  width:727px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u22032 {
  position:absolute;
  left:35px;
  top:112px;
  width:61px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u22033 {
  position:absolute;
  left:16px;
  top:5px;
  width:29px;
  white-space:nowrap;
}
#u22034 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22035 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u22036 {
  position:absolute;
  left:80px;
  top:59px;
  width:120px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u22037 {
  position:absolute;
  left:12px;
  top:5px;
  width:100px;
  word-wrap:break-word;
}
#u22038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
#u22039 {
  position:absolute;
  left:181px;
  top:70px;
  width:14px;
  height:9px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u22040 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22041 {
  position:absolute;
  left:193px;
  top:71px;
  width:9px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u22042 {
  position:absolute;
  left:2px;
  top:-2px;
  width:5px;
  word-wrap:break-word;
}
#u22043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u22043 {
  position:absolute;
  left:36px;
  top:59px;
  width:43px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u22044 {
  position:absolute;
  left:0px;
  top:5px;
  width:43px;
  white-space:nowrap;
}
#u22045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22045 {
  position:absolute;
  left:49px;
  top:192px;
  width:31px;
  height:20px;
}
#u22046 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u22047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22047 {
  position:absolute;
  left:50px;
  top:222px;
  width:31px;
  height:20px;
}
#u22048 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u22049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22049 {
  position:absolute;
  left:109px;
  top:112px;
  width:61px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22050 {
  position:absolute;
  left:16px;
  top:5px;
  width:29px;
  white-space:nowrap;
}
#u22051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22051 {
  position:absolute;
  left:178px;
  top:112px;
  width:61px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22052 {
  position:absolute;
  left:16px;
  top:5px;
  width:29px;
  white-space:nowrap;
}
#u22053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22053 {
  position:absolute;
  left:300px;
  top:61px;
  width:62px;
  height:30px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22054 {
  position:absolute;
  left:16px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
