body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:479px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u20353 {
  position:absolute;
  left:54px;
  top:52px;
  width:425px;
  height:272px;
}
#u20354 {
  position:absolute;
  left:2px;
  top:128px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:2px;
}
#u20355 {
  position:absolute;
  left:53px;
  top:272px;
  width:426px;
  height:1px;
}
#u20356 {
  position:absolute;
  left:2px;
  top:-8px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20357 {
  position:absolute;
  left:319px;
  top:283px;
  width:54px;
  height:30px;
}
#u20358 {
  position:absolute;
  left:2px;
  top:7px;
  width:50px;
  word-wrap:break-word;
}
#u20357_ann {
  position:absolute;
  left:366px;
  top:279px;
  width:1px;
  height:1px;
}
#u20359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20359 {
  position:absolute;
  left:403px;
  top:283px;
  width:52px;
  height:30px;
  color:#666666;
}
#u20360 {
  position:absolute;
  left:2px;
  top:7px;
  width:48px;
  word-wrap:break-word;
}
#u20361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:40px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 236, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20361 {
  position:absolute;
  left:54px;
  top:53px;
  width:425px;
  height:40px;
}
#u20362 {
  position:absolute;
  left:2px;
  top:12px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u20363 {
  position:absolute;
  left:64px;
  top:65px;
  width:85px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u20364 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u20365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u20365 {
  position:absolute;
  left:456px;
  top:66px;
  width:12px;
  height:14px;
}
#u20366 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u20367 {
  position:absolute;
  left:99px;
  top:199px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u20368 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u20369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u20369 {
  position:absolute;
  left:169px;
  top:191px;
  width:209px;
  height:32px;
  text-align:left;
}
#u20370 {
  position:absolute;
  left:2px;
  top:8px;
  width:205px;
  word-wrap:break-word;
}
#u20369_ann {
  position:absolute;
  left:371px;
  top:187px;
  width:1px;
  height:1px;
}
#u20371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:20px;
}
#u20371 {
  position:absolute;
  left:53px;
  top:64px;
  width:8px;
  height:20px;
}
#u20372 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u20373 {
  position:absolute;
  left:94px;
  top:109px;
  width:71px;
  height:16px;
  font-size:13px;
  text-align:right;
}
#u20374 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u20375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u20375 {
  position:absolute;
  left:169px;
  top:101px;
  width:209px;
  height:32px;
  text-align:left;
}
#u20376 {
  position:absolute;
  left:2px;
  top:8px;
  width:205px;
  word-wrap:break-word;
}
#u20375_ann {
  position:absolute;
  left:371px;
  top:97px;
  width:1px;
  height:1px;
}
#u20377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u20377 {
  position:absolute;
  left:125px;
  top:239px;
  width:40px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u20378 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u20377_ann {
  position:absolute;
  left:158px;
  top:235px;
  width:1px;
  height:1px;
}
#u20379 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20380 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u20381 {
  position:absolute;
  left:194px;
  top:232px;
  width:61px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u20382 {
  position:absolute;
  left:8px;
  top:5px;
  width:29px;
  white-space:nowrap;
}
#u20383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u20383 {
  position:absolute;
  left:180px;
  top:239px;
  width:14px;
  height:14px;
}
#u20384 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20385 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20386 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u20387 {
  position:absolute;
  left:261px;
  top:231px;
  width:61px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u20388 {
  position:absolute;
  left:8px;
  top:5px;
  width:29px;
  white-space:nowrap;
}
#u20389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u20389 {
  position:absolute;
  left:247px;
  top:238px;
  width:14px;
  height:14px;
}
#u20390 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u20391 {
  position:absolute;
  left:249px;
  top:240px;
  width:10px;
  height:10px;
}
#u20392 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u20393 {
  position:absolute;
  left:93px;
  top:154px;
  width:71px;
  height:16px;
  font-size:13px;
  text-align:right;
}
#u20394 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u20395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u20395 {
  position:absolute;
  left:169px;
  top:145px;
  width:209px;
  height:32px;
  text-align:left;
}
#u20396 {
  position:absolute;
  left:2px;
  top:8px;
  width:205px;
  word-wrap:break-word;
}
#u20395_ann {
  position:absolute;
  left:371px;
  top:141px;
  width:1px;
  height:1px;
}
