body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:998px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:523px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1989 {
  position:absolute;
  left:60px;
  top:20px;
  width:938px;
  height:523px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:254px;
  width:934px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:939px;
  height:2px;
}
#u1991 {
  position:absolute;
  left:60px;
  top:484px;
  width:938px;
  height:1px;
}
#u1992 {
  position:absolute;
  left:2px;
  top:-8px;
  width:934px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:39px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1993 {
  position:absolute;
  left:260px;
  top:495px;
  width:54px;
  height:39px;
}
#u1994 {
  position:absolute;
  left:2px;
  top:12px;
  width:50px;
  word-wrap:break-word;
}
#u1993_ann {
  position:absolute;
  left:307px;
  top:491px;
  width:1px;
  height:1px;
}
#u1995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:39px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1995 {
  position:absolute;
  left:453px;
  top:495px;
  width:52px;
  height:39px;
  color:#666666;
}
#u1996 {
  position:absolute;
  left:2px;
  top:12px;
  width:48px;
  word-wrap:break-word;
}
#u1997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:40px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 236, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1997 {
  position:absolute;
  left:60px;
  top:20px;
  width:938px;
  height:40px;
}
#u1998 {
  position:absolute;
  left:2px;
  top:12px;
  width:934px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#0000CC;
}
#u1999 {
  position:absolute;
  left:70px;
  top:32px;
  width:85px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#0000CC;
}
#u2000 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u2001 {
  position:absolute;
  left:981px;
  top:33px;
  width:12px;
  height:14px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:20px;
}
#u2003 {
  position:absolute;
  left:59px;
  top:31px;
  width:8px;
  height:20px;
}
#u2004 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u2007 {
  position:absolute;
  left:503px;
  top:63px;
  width:188px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u2008 {
  position:absolute;
  left:12px;
  top:5px;
  width:168px;
  word-wrap:break-word;
}
#u2007_ann {
  position:absolute;
  left:684px;
  top:59px;
  width:1px;
  height:1px;
}
#u2009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u2010 {
  position:absolute;
  left:665px;
  top:72px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2011 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2012 {
  position:absolute;
  left:679px;
  top:75px;
  width:15px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u2013 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  word-wrap:break-word;
}
#u2014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u2014 {
  position:absolute;
  left:418px;
  top:63px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u2015 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u2016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u2016 {
  position:absolute;
  left:102px;
  top:190px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u2017 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2018 {
  position:absolute;
  left:183px;
  top:181px;
  width:508px;
  height:32px;
  text-align:left;
}
#u2019 {
  position:absolute;
  left:2px;
  top:8px;
  width:504px;
  word-wrap:break-word;
}
#u2020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2021 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u2022 {
  position:absolute;
  left:184px;
  top:64px;
  width:188px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u2023 {
  position:absolute;
  left:12px;
  top:5px;
  width:168px;
  word-wrap:break-word;
}
#u2024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u2025 {
  position:absolute;
  left:346px;
  top:73px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2026 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2027 {
  position:absolute;
  left:360px;
  top:76px;
  width:15px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u2028 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  word-wrap:break-word;
}
#u2029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u2029 {
  position:absolute;
  left:99px;
  top:64px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u2030 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u2031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 241, 241, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2032 {
  position:absolute;
  left:184px;
  top:104px;
  width:257px;
  height:32px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2033 {
  position:absolute;
  left:32px;
  top:5px;
  width:217px;
  word-wrap:break-word;
}
#u2034 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u2035 {
  position:absolute;
  left:422px;
  top:112px;
  width:16px;
  height:14px;
  opacity:0.43;
}
#u2036 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u2037 {
  position:absolute;
  left:437px;
  top:114px;
  width:13px;
  height:12px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u2038 {
  position:absolute;
  left:2px;
  top:1px;
  width:9px;
  word-wrap:break-word;
}
#u2039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u2039 {
  position:absolute;
  left:99px;
  top:112px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u2040 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:39px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2041 {
  position:absolute;
  left:333px;
  top:495px;
  width:107px;
  height:39px;
}
#u2042 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u2041_ann {
  position:absolute;
  left:433px;
  top:491px;
  width:1px;
  height:1px;
}
#u2043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:939px;
  height:2px;
}
#u2043 {
  position:absolute;
  left:60px;
  top:218px;
  width:938px;
  height:1px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:-8px;
  width:934px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:939px;
  height:2px;
}
#u2045 {
  position:absolute;
  left:60px;
  top:247px;
  width:938px;
  height:1px;
}
#u2046 {
  position:absolute;
  left:2px;
  top:-8px;
  width:934px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2047 {
  position:absolute;
  left:143px;
  top:217px;
  width:89px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2048 {
  position:absolute;
  left:16px;
  top:5px;
  width:57px;
  white-space:nowrap;
}
#u2049 {
  position:absolute;
  left:60px;
  top:254px;
  width:938px;
  height:196px;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
}
#u2050 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u2051 {
  position:absolute;
  left:2px;
  top:7px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2052 {
  position:absolute;
  left:55px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u2053 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u2054 {
  position:absolute;
  left:115px;
  top:0px;
  width:121px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u2055 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u2056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u2056 {
  position:absolute;
  left:236px;
  top:0px;
  width:141px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u2057 {
  position:absolute;
  left:2px;
  top:6px;
  width:137px;
  word-wrap:break-word;
}
#u2058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u2058 {
  position:absolute;
  left:377px;
  top:0px;
  width:68px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u2059 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u2060 {
  position:absolute;
  left:445px;
  top:0px;
  width:94px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u2061 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u2062 {
  position:absolute;
  left:539px;
  top:0px;
  width:124px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u2063 {
  position:absolute;
  left:2px;
  top:6px;
  width:120px;
  word-wrap:break-word;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u2064 {
  position:absolute;
  left:663px;
  top:0px;
  width:148px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u2065 {
  position:absolute;
  left:2px;
  top:6px;
  width:144px;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u2066 {
  position:absolute;
  left:811px;
  top:0px;
  width:122px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u2067 {
  position:absolute;
  left:2px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u2068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:33px;
}
#u2068 {
  position:absolute;
  left:0px;
  top:30px;
  width:55px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#0033FF;
  text-align:center;
  line-height:28px;
}
#u2069 {
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u2070 {
  position:absolute;
  left:55px;
  top:30px;
  width:60px;
  height:33px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
}
#u2072 {
  position:absolute;
  left:115px;
  top:30px;
  width:121px;
  height:33px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u2073 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
}
#u2074 {
  position:absolute;
  left:236px;
  top:30px;
  width:141px;
  height:33px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u2075 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:33px;
}
#u2076 {
  position:absolute;
  left:377px;
  top:30px;
  width:68px;
  height:33px;
  font-size:12px;
  line-height:28px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u2078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:33px;
}
#u2078 {
  position:absolute;
  left:445px;
  top:30px;
  width:94px;
  height:33px;
  font-size:12px;
  line-height:28px;
}
#u2079 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u2080 {
  position:absolute;
  left:539px;
  top:30px;
  width:124px;
  height:33px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u2081 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:33px;
}
#u2082 {
  position:absolute;
  left:663px;
  top:30px;
  width:148px;
  height:33px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:33px;
}
#u2084 {
  position:absolute;
  left:811px;
  top:30px;
  width:122px;
  height:33px;
  font-size:12px;
  line-height:28px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u2086 {
  position:absolute;
  left:0px;
  top:63px;
  width:55px;
  height:32px;
  text-align:center;
  line-height:28px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u2088 {
  position:absolute;
  left:55px;
  top:63px;
  width:60px;
  height:32px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:32px;
}
#u2090 {
  position:absolute;
  left:115px;
  top:63px;
  width:121px;
  height:32px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u2092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u2092 {
  position:absolute;
  left:236px;
  top:63px;
  width:141px;
  height:32px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u2093 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:32px;
}
#u2094 {
  position:absolute;
  left:377px;
  top:63px;
  width:68px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u2095 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u2096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
}
#u2096 {
  position:absolute;
  left:445px;
  top:63px;
  width:94px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u2097 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
}
#u2098 {
  position:absolute;
  left:539px;
  top:63px;
  width:124px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:32px;
}
#u2100 {
  position:absolute;
  left:663px;
  top:63px;
  width:148px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u2101 {
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u2102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:32px;
}
#u2102 {
  position:absolute;
  left:811px;
  top:63px;
  width:122px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u2103 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u2104 {
  position:absolute;
  left:0px;
  top:95px;
  width:55px;
  height:32px;
  text-align:center;
  line-height:28px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u2106 {
  position:absolute;
  left:55px;
  top:95px;
  width:60px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u2107 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:32px;
}
#u2108 {
  position:absolute;
  left:115px;
  top:95px;
  width:121px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u2109 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u2110 {
  position:absolute;
  left:236px;
  top:95px;
  width:141px;
  height:32px;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:16px;
}
#u2111 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:32px;
}
#u2112 {
  position:absolute;
  left:377px;
  top:95px;
  width:68px;
  height:32px;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u2113 {
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
}
#u2114 {
  position:absolute;
  left:445px;
  top:95px;
  width:94px;
  height:32px;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u2115 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
}
#u2116 {
  position:absolute;
  left:539px;
  top:95px;
  width:124px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u2117 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:32px;
}
#u2118 {
  position:absolute;
  left:663px;
  top:95px;
  width:148px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u2119 {
  position:absolute;
  left:2px;
  top:8px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:32px;
}
#u2120 {
  position:absolute;
  left:811px;
  top:95px;
  width:122px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u2121 {
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u2122 {
  position:absolute;
  left:0px;
  top:127px;
  width:55px;
  height:32px;
  text-align:center;
  line-height:28px;
}
#u2123 {
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u2124 {
  position:absolute;
  left:55px;
  top:127px;
  width:60px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u2125 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:32px;
}
#u2126 {
  position:absolute;
  left:115px;
  top:127px;
  width:121px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u2127 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u2128 {
  position:absolute;
  left:236px;
  top:127px;
  width:141px;
  height:32px;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:16px;
}
#u2129 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:32px;
}
#u2130 {
  position:absolute;
  left:377px;
  top:127px;
  width:68px;
  height:32px;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u2131 {
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
}
#u2132 {
  position:absolute;
  left:445px;
  top:127px;
  width:94px;
  height:32px;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u2133 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
}
#u2134 {
  position:absolute;
  left:539px;
  top:127px;
  width:124px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u2135 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:32px;
}
#u2136 {
  position:absolute;
  left:663px;
  top:127px;
  width:148px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u2137 {
  position:absolute;
  left:2px;
  top:8px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:32px;
}
#u2138 {
  position:absolute;
  left:811px;
  top:127px;
  width:122px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u2140 {
  position:absolute;
  left:0px;
  top:159px;
  width:55px;
  height:32px;
  text-align:center;
  line-height:28px;
}
#u2141 {
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u2142 {
  position:absolute;
  left:55px;
  top:159px;
  width:60px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u2143 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:32px;
}
#u2144 {
  position:absolute;
  left:115px;
  top:159px;
  width:121px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u2145 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u2146 {
  position:absolute;
  left:236px;
  top:159px;
  width:141px;
  height:32px;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:16px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:32px;
}
#u2148 {
  position:absolute;
  left:377px;
  top:159px;
  width:68px;
  height:32px;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u2149 {
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
}
#u2150 {
  position:absolute;
  left:445px;
  top:159px;
  width:94px;
  height:32px;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u2151 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
}
#u2152 {
  position:absolute;
  left:539px;
  top:159px;
  width:124px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u2153 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:32px;
}
#u2154 {
  position:absolute;
  left:663px;
  top:159px;
  width:148px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:8px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:32px;
}
#u2156 {
  position:absolute;
  left:811px;
  top:159px;
  width:122px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u2157 {
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u2158 {
  position:absolute;
  left:72px;
  top:217px;
  width:61px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u2159 {
  position:absolute;
  left:16px;
  top:5px;
  width:29px;
  white-space:nowrap;
}
#u2160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u2160 {
  position:absolute;
  left:60px;
  top:452px;
  width:139px;
  height:22px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u2161 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u2162 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u2163 {
  position:absolute;
  left:657px;
  top:452px;
  width:8px;
  height:27px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u2164 {
  position:absolute;
  left:0px;
  top:2px;
  width:8px;
  word-wrap:break-word;
}
#u2165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u2165 {
  position:absolute;
  left:681px;
  top:452px;
  width:8px;
  height:27px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u2166 {
  position:absolute;
  left:0px;
  top:2px;
  width:8px;
  word-wrap:break-word;
}
#u2167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u2167 {
  position:absolute;
  left:705px;
  top:452px;
  width:8px;
  height:27px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u2168 {
  position:absolute;
  left:0px;
  top:2px;
  width:8px;
  word-wrap:break-word;
}
#u2169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u2169 {
  position:absolute;
  left:729px;
  top:452px;
  width:8px;
  height:27px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u2170 {
  position:absolute;
  left:0px;
  top:2px;
  width:8px;
  word-wrap:break-word;
}
#u2171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  line-height:22px;
}
#u2171 {
  position:absolute;
  left:973px;
  top:452px;
  width:13px;
  height:27px;
  font-size:12px;
  color:#666666;
  line-height:22px;
}
#u2172 {
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  white-space:nowrap;
}
#u2173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u2173 {
  position:absolute;
  left:918px;
  top:446px;
  width:47px;
  height:39px;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u2174 {
  position:absolute;
  left:12px;
  top:8px;
  width:33px;
  word-wrap:break-word;
}
#u2175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  line-height:22px;
}
#u2175 {
  position:absolute;
  left:881px;
  top:452px;
  width:25px;
  height:27px;
  font-size:12px;
  color:#666666;
  line-height:22px;
}
#u2176 {
  position:absolute;
  left:0px;
  top:2px;
  width:25px;
  white-space:nowrap;
}
#u2177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:33px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:22px;
}
#u2177 {
  position:absolute;
  left:625px;
  top:449px;
  width:22px;
  height:33px;
  font-size:12px;
  color:#FFFFFF;
  line-height:22px;
}
#u2178 {
  position:absolute;
  left:2px;
  top:6px;
  width:18px;
  word-wrap:break-word;
}
#u2179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u2179 {
  position:absolute;
  left:607px;
  top:458px;
  width:10px;
  height:15px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.400000005960464;
  font-size:12px;
}
#u2180 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u2181 {
  position:absolute;
  left:753px;
  top:458px;
  width:10px;
  height:15px;
  opacity:0.400000005960464;
  font-size:12px;
}
#u2182 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2183 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2184 {
  position:absolute;
  left:779px;
  top:446px;
  width:86px;
  height:39px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2185 {
  position:absolute;
  left:8px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u2186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u2186 {
  position:absolute;
  left:844px;
  top:461px;
  width:15px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.400000005960464;
  font-size:12px;
}
#u2187 {
  position:absolute;
  left:2px;
  top:-3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2188 {
  position:absolute;
  left:82px;
  top:296px;
  width:19px;
  height:16px;
}
#u2189 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2188_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2190 {
  position:absolute;
  left:82px;
  top:262px;
  width:19px;
  height:16px;
}
#u2191 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2190_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2192 {
  position:absolute;
  left:81px;
  top:322px;
  width:19px;
  height:16px;
}
#u2193 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2192_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2194 {
  position:absolute;
  left:242px;
  top:217px;
  width:61px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2195 {
  position:absolute;
  left:16px;
  top:5px;
  width:29px;
  white-space:nowrap;
}
#u2196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2196 {
  position:absolute;
  left:310px;
  top:217px;
  width:192px;
  height:32px;
  text-align:left;
}
#u2197 {
  position:absolute;
  left:2px;
  top:8px;
  width:188px;
  word-wrap:break-word;
}
#u2198 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u2199 {
  position:absolute;
  left:502px;
  top:217px;
  width:87px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u2200 {
  position:absolute;
  left:38px;
  top:5px;
  width:33px;
  white-space:nowrap;
}
#u2201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2201 {
  position:absolute;
  left:518px;
  top:226px;
  width:14px;
  height:14px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
}
#u2202 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u2203 {
  position:absolute;
  left:86px;
  top:152px;
  width:79px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u2204 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2205 {
  position:absolute;
  left:184px;
  top:143px;
  width:188px;
  height:32px;
  text-align:left;
}
#u2206 {
  position:absolute;
  left:2px;
  top:8px;
  width:184px;
  word-wrap:break-word;
}
#u2207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u2207 {
  position:absolute;
  left:403px;
  top:153px;
  width:92px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u2208 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u2209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u2209 {
  position:absolute;
  left:507px;
  top:144px;
  width:184px;
  height:32px;
  font-size:12px;
  text-align:left;
}
#u2210 {
  position:absolute;
  left:2px;
  top:8px;
  width:180px;
  word-wrap:break-word;
}
#u2211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u2211 {
  position:absolute;
  left:504px;
  top:113px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u2212 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u2213 {
  position:absolute;
  left:450px;
  top:114px;
  width:40px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u2214 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
