body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u12953 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u12954 {
  position:absolute;
  left:20px;
  top:6px;
  width:1344px;
  word-wrap:break-word;
}
#u12955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:20px;
}
#u12955 {
  position:absolute;
  left:3px;
  top:10px;
  width:8px;
  height:20px;
}
#u12956 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u12957 {
  position:absolute;
  left:12px;
  top:9px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u12958 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1357px;
  height:2px;
}
#u12959 {
  position:absolute;
  left:1px;
  top:86px;
  width:1356px;
  height:1px;
}
#u12960 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12961 {
  position:absolute;
  left:6px;
  top:120px;
  width:813px;
  height:314px;
}
#u12962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u12962 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u12963 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u12964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u12964 {
  position:absolute;
  left:115px;
  top:0px;
  width:140px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u12965 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u12966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u12966 {
  position:absolute;
  left:255px;
  top:0px;
  width:121px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u12967 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u12968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u12968 {
  position:absolute;
  left:376px;
  top:0px;
  width:155px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u12969 {
  position:absolute;
  left:2px;
  top:6px;
  width:151px;
  word-wrap:break-word;
}
#u12970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u12970 {
  position:absolute;
  left:531px;
  top:0px;
  width:148px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u12971 {
  position:absolute;
  left:2px;
  top:6px;
  width:144px;
  word-wrap:break-word;
}
#u12972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u12972 {
  position:absolute;
  left:679px;
  top:0px;
  width:129px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u12973 {
  position:absolute;
  left:2px;
  top:6px;
  width:125px;
  word-wrap:break-word;
}
#u12974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:33px;
}
#u12974 {
  position:absolute;
  left:0px;
  top:30px;
  width:115px;
  height:33px;
  font-size:12px;
  line-height:28px;
}
#u12975 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u12976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:33px;
}
#u12976 {
  position:absolute;
  left:115px;
  top:30px;
  width:140px;
  height:33px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u12977 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u12978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
}
#u12978 {
  position:absolute;
  left:255px;
  top:30px;
  width:121px;
  height:33px;
  font-size:12px;
  line-height:28px;
}
#u12979 {
  position:absolute;
  left:2px;
  top:2px;
  width:117px;
  word-wrap:break-word;
}
#u12980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:33px;
}
#u12980 {
  position:absolute;
  left:376px;
  top:30px;
  width:155px;
  height:33px;
  font-size:12px;
  line-height:28px;
}
#u12981 {
  position:absolute;
  left:2px;
  top:2px;
  width:151px;
  word-wrap:break-word;
}
#u12982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:33px;
}
#u12982 {
  position:absolute;
  left:531px;
  top:30px;
  width:148px;
  height:33px;
  font-size:12px;
  line-height:28px;
}
#u12983 {
  position:absolute;
  left:2px;
  top:8px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:33px;
}
#u12984 {
  position:absolute;
  left:679px;
  top:30px;
  width:129px;
  height:33px;
  font-size:12px;
  line-height:28px;
}
#u12985 {
  position:absolute;
  left:2px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u12986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:32px;
}
#u12986 {
  position:absolute;
  left:0px;
  top:63px;
  width:115px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u12987 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u12988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
}
#u12988 {
  position:absolute;
  left:115px;
  top:63px;
  width:140px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u12989 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u12990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:32px;
}
#u12990 {
  position:absolute;
  left:255px;
  top:63px;
  width:121px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u12991 {
  position:absolute;
  left:2px;
  top:2px;
  width:117px;
  word-wrap:break-word;
}
#u12992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
}
#u12992 {
  position:absolute;
  left:376px;
  top:63px;
  width:155px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u12993 {
  position:absolute;
  left:2px;
  top:2px;
  width:151px;
  word-wrap:break-word;
}
#u12994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:32px;
}
#u12994 {
  position:absolute;
  left:531px;
  top:63px;
  width:148px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u12995 {
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u12996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:32px;
}
#u12996 {
  position:absolute;
  left:679px;
  top:63px;
  width:129px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u12997 {
  position:absolute;
  left:2px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u12998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:26px;
}
#u12998 {
  position:absolute;
  left:0px;
  top:95px;
  width:115px;
  height:26px;
  text-align:center;
  line-height:28px;
}
#u12999 {
  position:absolute;
  left:2px;
  top:5px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:26px;
}
#u13000 {
  position:absolute;
  left:115px;
  top:95px;
  width:140px;
  height:26px;
  text-align:center;
  line-height:28px;
}
#u13001 {
  position:absolute;
  left:2px;
  top:5px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13002 {
  position:absolute;
  left:255px;
  top:95px;
  width:121px;
  height:26px;
  text-align:center;
  line-height:28px;
}
#u13003 {
  position:absolute;
  left:2px;
  top:5px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:26px;
}
#u13004 {
  position:absolute;
  left:376px;
  top:95px;
  width:155px;
  height:26px;
  text-align:center;
  line-height:28px;
}
#u13005 {
  position:absolute;
  left:2px;
  top:5px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:26px;
}
#u13006 {
  position:absolute;
  left:531px;
  top:95px;
  width:148px;
  height:26px;
  text-align:center;
  line-height:28px;
}
#u13007 {
  position:absolute;
  left:2px;
  top:5px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:26px;
}
#u13008 {
  position:absolute;
  left:679px;
  top:95px;
  width:129px;
  height:26px;
  text-align:center;
  line-height:28px;
}
#u13009 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:27px;
}
#u13010 {
  position:absolute;
  left:0px;
  top:121px;
  width:115px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13011 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
}
#u13012 {
  position:absolute;
  left:115px;
  top:121px;
  width:140px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13013 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
}
#u13014 {
  position:absolute;
  left:255px;
  top:121px;
  width:121px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13015 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:27px;
}
#u13016 {
  position:absolute;
  left:376px;
  top:121px;
  width:155px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13017 {
  position:absolute;
  left:2px;
  top:6px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:27px;
}
#u13018 {
  position:absolute;
  left:531px;
  top:121px;
  width:148px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13019 {
  position:absolute;
  left:2px;
  top:6px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:27px;
}
#u13020 {
  position:absolute;
  left:679px;
  top:121px;
  width:129px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13021 {
  position:absolute;
  left:2px;
  top:6px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:26px;
}
#u13022 {
  position:absolute;
  left:0px;
  top:148px;
  width:115px;
  height:26px;
  text-align:center;
  line-height:28px;
}
#u13023 {
  position:absolute;
  left:2px;
  top:5px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:26px;
}
#u13024 {
  position:absolute;
  left:115px;
  top:148px;
  width:140px;
  height:26px;
  text-align:center;
  line-height:28px;
}
#u13025 {
  position:absolute;
  left:2px;
  top:5px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13026 {
  position:absolute;
  left:255px;
  top:148px;
  width:121px;
  height:26px;
  text-align:center;
  line-height:28px;
}
#u13027 {
  position:absolute;
  left:2px;
  top:5px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:26px;
}
#u13028 {
  position:absolute;
  left:376px;
  top:148px;
  width:155px;
  height:26px;
  text-align:center;
  line-height:28px;
}
#u13029 {
  position:absolute;
  left:2px;
  top:5px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:26px;
}
#u13030 {
  position:absolute;
  left:531px;
  top:148px;
  width:148px;
  height:26px;
  text-align:center;
  line-height:28px;
}
#u13031 {
  position:absolute;
  left:2px;
  top:5px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:26px;
}
#u13032 {
  position:absolute;
  left:679px;
  top:148px;
  width:129px;
  height:26px;
  text-align:center;
  line-height:28px;
}
#u13033 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:27px;
}
#u13034 {
  position:absolute;
  left:0px;
  top:174px;
  width:115px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13035 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
}
#u13036 {
  position:absolute;
  left:115px;
  top:174px;
  width:140px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13037 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
}
#u13038 {
  position:absolute;
  left:255px;
  top:174px;
  width:121px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13039 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:27px;
}
#u13040 {
  position:absolute;
  left:376px;
  top:174px;
  width:155px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13041 {
  position:absolute;
  left:2px;
  top:6px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:27px;
}
#u13042 {
  position:absolute;
  left:531px;
  top:174px;
  width:148px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13043 {
  position:absolute;
  left:2px;
  top:6px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:27px;
}
#u13044 {
  position:absolute;
  left:679px;
  top:174px;
  width:129px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13045 {
  position:absolute;
  left:2px;
  top:6px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:27px;
}
#u13046 {
  position:absolute;
  left:0px;
  top:201px;
  width:115px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13047 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
}
#u13048 {
  position:absolute;
  left:115px;
  top:201px;
  width:140px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13049 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
}
#u13050 {
  position:absolute;
  left:255px;
  top:201px;
  width:121px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13051 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:27px;
}
#u13052 {
  position:absolute;
  left:376px;
  top:201px;
  width:155px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13053 {
  position:absolute;
  left:2px;
  top:6px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:27px;
}
#u13054 {
  position:absolute;
  left:531px;
  top:201px;
  width:148px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13055 {
  position:absolute;
  left:2px;
  top:6px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:27px;
}
#u13056 {
  position:absolute;
  left:679px;
  top:201px;
  width:129px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13057 {
  position:absolute;
  left:2px;
  top:6px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:27px;
}
#u13058 {
  position:absolute;
  left:0px;
  top:228px;
  width:115px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13059 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
}
#u13060 {
  position:absolute;
  left:115px;
  top:228px;
  width:140px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13061 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
}
#u13062 {
  position:absolute;
  left:255px;
  top:228px;
  width:121px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13063 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:27px;
}
#u13064 {
  position:absolute;
  left:376px;
  top:228px;
  width:155px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13065 {
  position:absolute;
  left:2px;
  top:6px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:27px;
}
#u13066 {
  position:absolute;
  left:531px;
  top:228px;
  width:148px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13067 {
  position:absolute;
  left:2px;
  top:6px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:27px;
}
#u13068 {
  position:absolute;
  left:679px;
  top:228px;
  width:129px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13069 {
  position:absolute;
  left:2px;
  top:6px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:27px;
}
#u13070 {
  position:absolute;
  left:0px;
  top:255px;
  width:115px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13071 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
}
#u13072 {
  position:absolute;
  left:115px;
  top:255px;
  width:140px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13073 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
}
#u13074 {
  position:absolute;
  left:255px;
  top:255px;
  width:121px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13075 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:27px;
}
#u13076 {
  position:absolute;
  left:376px;
  top:255px;
  width:155px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13077 {
  position:absolute;
  left:2px;
  top:6px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:27px;
}
#u13078 {
  position:absolute;
  left:531px;
  top:255px;
  width:148px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13079 {
  position:absolute;
  left:2px;
  top:6px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:27px;
}
#u13080 {
  position:absolute;
  left:679px;
  top:255px;
  width:129px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13081 {
  position:absolute;
  left:2px;
  top:6px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:27px;
}
#u13082 {
  position:absolute;
  left:0px;
  top:282px;
  width:115px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13083 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
}
#u13084 {
  position:absolute;
  left:115px;
  top:282px;
  width:140px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13085 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
}
#u13086 {
  position:absolute;
  left:255px;
  top:282px;
  width:121px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13087 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:27px;
}
#u13088 {
  position:absolute;
  left:376px;
  top:282px;
  width:155px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13089 {
  position:absolute;
  left:2px;
  top:6px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:27px;
}
#u13090 {
  position:absolute;
  left:531px;
  top:282px;
  width:148px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13091 {
  position:absolute;
  left:2px;
  top:6px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:27px;
}
#u13092 {
  position:absolute;
  left:679px;
  top:282px;
  width:129px;
  height:27px;
  text-align:center;
  line-height:28px;
}
#u13093 {
  position:absolute;
  left:2px;
  top:6px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u13094 {
  position:absolute;
  left:6px;
  top:439px;
  width:139px;
  height:22px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u13095 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u13096 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13097 {
  position:absolute;
  left:486px;
  top:441px;
  width:8px;
  height:27px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13098 {
  position:absolute;
  left:0px;
  top:2px;
  width:8px;
  word-wrap:break-word;
}
#u13099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13099 {
  position:absolute;
  left:510px;
  top:441px;
  width:8px;
  height:27px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13100 {
  position:absolute;
  left:0px;
  top:2px;
  width:8px;
  word-wrap:break-word;
}
#u13101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13101 {
  position:absolute;
  left:534px;
  top:441px;
  width:8px;
  height:27px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13102 {
  position:absolute;
  left:0px;
  top:2px;
  width:8px;
  word-wrap:break-word;
}
#u13103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13103 {
  position:absolute;
  left:558px;
  top:441px;
  width:8px;
  height:27px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13104 {
  position:absolute;
  left:0px;
  top:2px;
  width:8px;
  word-wrap:break-word;
}
#u13105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  line-height:22px;
}
#u13105 {
  position:absolute;
  left:802px;
  top:441px;
  width:13px;
  height:27px;
  font-size:12px;
  color:#666666;
  line-height:22px;
}
#u13106 {
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  white-space:nowrap;
}
#u13107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u13107 {
  position:absolute;
  left:747px;
  top:435px;
  width:47px;
  height:39px;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u13108 {
  position:absolute;
  left:12px;
  top:8px;
  width:33px;
  word-wrap:break-word;
}
#u13109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  line-height:22px;
}
#u13109 {
  position:absolute;
  left:710px;
  top:441px;
  width:25px;
  height:27px;
  font-size:12px;
  color:#666666;
  line-height:22px;
}
#u13110 {
  position:absolute;
  left:0px;
  top:2px;
  width:25px;
  white-space:nowrap;
}
#u13111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:33px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:22px;
}
#u13111 {
  position:absolute;
  left:454px;
  top:438px;
  width:22px;
  height:33px;
  font-size:12px;
  color:#FFFFFF;
  line-height:22px;
}
#u13112 {
  position:absolute;
  left:2px;
  top:6px;
  width:18px;
  word-wrap:break-word;
}
#u13113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u13113 {
  position:absolute;
  left:436px;
  top:447px;
  width:10px;
  height:15px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.400000005960464;
  font-size:12px;
}
#u13114 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u13115 {
  position:absolute;
  left:582px;
  top:447px;
  width:10px;
  height:15px;
  opacity:0.400000005960464;
  font-size:12px;
}
#u13116 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13117 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u13118 {
  position:absolute;
  left:608px;
  top:435px;
  width:86px;
  height:39px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u13119 {
  position:absolute;
  left:8px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u13120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u13120 {
  position:absolute;
  left:673px;
  top:450px;
  width:15px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.400000005960464;
  font-size:12px;
}
#u13121 {
  position:absolute;
  left:2px;
  top:-3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13122 {
  position:absolute;
  left:471px;
  top:47px;
  width:73px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13123 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u13122_ann {
  position:absolute;
  left:537px;
  top:43px;
  width:1px;
  height:1px;
}
#u13124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1357px;
  height:2px;
}
#u13124 {
  position:absolute;
  left:1px;
  top:119px;
  width:1356px;
  height:1px;
}
#u13125 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13126 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13127 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u13128 {
  position:absolute;
  left:82px;
  top:47px;
  width:155px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u13129 {
  position:absolute;
  left:12px;
  top:5px;
  width:135px;
  word-wrap:break-word;
}
#u13130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u13131 {
  position:absolute;
  left:215px;
  top:57px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u13132 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13133 {
  position:absolute;
  left:228px;
  top:59px;
  width:12px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u13134 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  word-wrap:break-word;
}
#u13135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u13135 {
  position:absolute;
  left:12px;
  top:47px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u13136 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u13137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6E6B7B;
  text-align:right;
}
#u13138 {
  position:absolute;
  left:255px;
  top:54px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#6E6B7B;
  text-align:right;
}
#u13139 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u13140 {
  position:absolute;
  left:305px;
  top:47px;
  width:145px;
  height:32px;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u13141 {
  position:absolute;
  left:12px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u13140_ann {
  position:absolute;
  left:443px;
  top:43px;
  width:1px;
  height:1px;
}
#u13142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u13142 {
  position:absolute;
  left:6px;
  top:87px;
  width:90px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u13143 {
  position:absolute;
  left:16px;
  top:5px;
  width:58px;
  white-space:nowrap;
}
