body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:959px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:485px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1120 {
  position:absolute;
  left:21px;
  top:20px;
  width:938px;
  height:485px;
}
#u1121 {
  position:absolute;
  left:2px;
  top:234px;
  width:934px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:939px;
  height:2px;
}
#u1122 {
  position:absolute;
  left:21px;
  top:446px;
  width:938px;
  height:1px;
}
#u1123 {
  position:absolute;
  left:2px;
  top:-8px;
  width:934px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:39px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1124 {
  position:absolute;
  left:221px;
  top:457px;
  width:54px;
  height:39px;
}
#u1125 {
  position:absolute;
  left:2px;
  top:12px;
  width:50px;
  word-wrap:break-word;
}
#u1124_ann {
  position:absolute;
  left:268px;
  top:453px;
  width:1px;
  height:1px;
}
#u1126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:39px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1126 {
  position:absolute;
  left:414px;
  top:457px;
  width:52px;
  height:39px;
  color:#666666;
}
#u1127 {
  position:absolute;
  left:2px;
  top:12px;
  width:48px;
  word-wrap:break-word;
}
#u1128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:40px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 236, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1128 {
  position:absolute;
  left:21px;
  top:20px;
  width:938px;
  height:40px;
}
#u1129 {
  position:absolute;
  left:2px;
  top:12px;
  width:934px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#0000CC;
}
#u1130 {
  position:absolute;
  left:31px;
  top:32px;
  width:85px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#0000CC;
}
#u1131 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u1132 {
  position:absolute;
  left:942px;
  top:33px;
  width:12px;
  height:14px;
}
#u1133 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:20px;
}
#u1134 {
  position:absolute;
  left:20px;
  top:31px;
  width:8px;
  height:20px;
}
#u1135 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1136 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u1138 {
  position:absolute;
  left:452px;
  top:63px;
  width:188px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u1139 {
  position:absolute;
  left:12px;
  top:5px;
  width:168px;
  word-wrap:break-word;
}
#u1138_ann {
  position:absolute;
  left:633px;
  top:59px;
  width:1px;
  height:1px;
}
#u1140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1141 {
  position:absolute;
  left:614px;
  top:72px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1142 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1143 {
  position:absolute;
  left:628px;
  top:75px;
  width:15px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u1144 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  word-wrap:break-word;
}
#u1145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u1145 {
  position:absolute;
  left:367px;
  top:63px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u1146 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u1147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u1147 {
  position:absolute;
  left:63px;
  top:151px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u1148 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1149 {
  position:absolute;
  left:144px;
  top:143px;
  width:500px;
  height:32px;
  text-align:left;
}
#u1150 {
  position:absolute;
  left:2px;
  top:8px;
  width:496px;
  word-wrap:break-word;
}
#u1151 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1152 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u1153 {
  position:absolute;
  left:145px;
  top:64px;
  width:188px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u1154 {
  position:absolute;
  left:12px;
  top:5px;
  width:168px;
  word-wrap:break-word;
}
#u1155 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1156 {
  position:absolute;
  left:307px;
  top:73px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1157 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1158 {
  position:absolute;
  left:321px;
  top:76px;
  width:15px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u1159 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  word-wrap:break-word;
}
#u1160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u1160 {
  position:absolute;
  left:60px;
  top:64px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u1161 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u1162 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 241, 241, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1163 {
  position:absolute;
  left:145px;
  top:104px;
  width:257px;
  height:32px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1164 {
  position:absolute;
  left:32px;
  top:5px;
  width:217px;
  word-wrap:break-word;
}
#u1165 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u1166 {
  position:absolute;
  left:383px;
  top:112px;
  width:16px;
  height:14px;
  opacity:0.43;
}
#u1167 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u1168 {
  position:absolute;
  left:398px;
  top:114px;
  width:13px;
  height:12px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u1169 {
  position:absolute;
  left:2px;
  top:1px;
  width:9px;
  word-wrap:break-word;
}
#u1170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u1170 {
  position:absolute;
  left:60px;
  top:112px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u1171 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:39px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1172 {
  position:absolute;
  left:294px;
  top:457px;
  width:107px;
  height:39px;
}
#u1173 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u1172_ann {
  position:absolute;
  left:394px;
  top:453px;
  width:1px;
  height:1px;
}
#u1174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:939px;
  height:2px;
}
#u1174 {
  position:absolute;
  left:21px;
  top:180px;
  width:938px;
  height:1px;
}
#u1175 {
  position:absolute;
  left:2px;
  top:-8px;
  width:934px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:939px;
  height:2px;
}
#u1176 {
  position:absolute;
  left:21px;
  top:209px;
  width:938px;
  height:1px;
}
#u1177 {
  position:absolute;
  left:2px;
  top:-8px;
  width:934px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1178 {
  position:absolute;
  left:104px;
  top:179px;
  width:89px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1179 {
  position:absolute;
  left:16px;
  top:5px;
  width:57px;
  white-space:nowrap;
}
#u1180 {
  position:absolute;
  left:21px;
  top:216px;
  width:931px;
  height:196px;
}
#u1181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
}
#u1181 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u1182 {
  position:absolute;
  left:2px;
  top:7px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u1183 {
  position:absolute;
  left:55px;
  top:0px;
  width:77px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u1184 {
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u1185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u1185 {
  position:absolute;
  left:132px;
  top:0px;
  width:111px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u1186 {
  position:absolute;
  left:2px;
  top:6px;
  width:107px;
  word-wrap:break-word;
}
#u1187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u1187 {
  position:absolute;
  left:243px;
  top:0px;
  width:52px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u1188 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u1189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u1189 {
  position:absolute;
  left:295px;
  top:0px;
  width:106px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u1190 {
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  word-wrap:break-word;
}
#u1191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u1191 {
  position:absolute;
  left:401px;
  top:0px;
  width:129px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u1192 {
  position:absolute;
  left:2px;
  top:6px;
  width:125px;
  word-wrap:break-word;
}
#u1193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u1193 {
  position:absolute;
  left:530px;
  top:0px;
  width:71px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u1194 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u1195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u1195 {
  position:absolute;
  left:601px;
  top:0px;
  width:105px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u1196 {
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u1197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1197 {
  position:absolute;
  left:706px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u1198 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u1199 {
  position:absolute;
  left:806px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u1200 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u1201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:33px;
}
#u1201 {
  position:absolute;
  left:0px;
  top:30px;
  width:55px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#0033FF;
  text-align:center;
  line-height:28px;
}
#u1202 {
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:33px;
}
#u1203 {
  position:absolute;
  left:55px;
  top:30px;
  width:77px;
  height:33px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u1204 {
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  word-wrap:break-word;
}
#u1205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:33px;
}
#u1205 {
  position:absolute;
  left:132px;
  top:30px;
  width:111px;
  height:33px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u1206 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u1207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:33px;
}
#u1207 {
  position:absolute;
  left:243px;
  top:30px;
  width:52px;
  height:33px;
  font-size:12px;
  line-height:28px;
}
#u1208 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u1209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:33px;
}
#u1209 {
  position:absolute;
  left:295px;
  top:30px;
  width:106px;
  height:33px;
  font-size:12px;
  line-height:28px;
}
#u1210 {
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u1211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:33px;
}
#u1211 {
  position:absolute;
  left:401px;
  top:30px;
  width:129px;
  height:33px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u1212 {
  position:absolute;
  left:2px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u1213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:33px;
}
#u1213 {
  position:absolute;
  left:530px;
  top:30px;
  width:71px;
  height:33px;
  font-size:12px;
  line-height:28px;
}
#u1214 {
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  word-wrap:break-word;
}
#u1215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:33px;
}
#u1215 {
  position:absolute;
  left:601px;
  top:30px;
  width:105px;
  height:33px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u1216 {
  position:absolute;
  left:2px;
  top:2px;
  width:101px;
  word-wrap:break-word;
}
#u1217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u1217 {
  position:absolute;
  left:706px;
  top:30px;
  width:100px;
  height:33px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u1218 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:33px;
}
#u1219 {
  position:absolute;
  left:806px;
  top:30px;
  width:120px;
  height:33px;
  font-size:12px;
  line-height:28px;
}
#u1220 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u1221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u1221 {
  position:absolute;
  left:0px;
  top:63px;
  width:55px;
  height:32px;
  text-align:center;
  line-height:28px;
}
#u1222 {
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:32px;
}
#u1223 {
  position:absolute;
  left:55px;
  top:63px;
  width:77px;
  height:32px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  word-wrap:break-word;
}
#u1225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:32px;
}
#u1225 {
  position:absolute;
  left:132px;
  top:63px;
  width:111px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u1226 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u1227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:32px;
}
#u1227 {
  position:absolute;
  left:243px;
  top:63px;
  width:52px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u1228 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u1229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:32px;
}
#u1229 {
  position:absolute;
  left:295px;
  top:63px;
  width:106px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u1230 {
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u1231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:32px;
}
#u1231 {
  position:absolute;
  left:401px;
  top:63px;
  width:129px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u1232 {
  position:absolute;
  left:2px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u1233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
}
#u1233 {
  position:absolute;
  left:530px;
  top:63px;
  width:71px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u1234 {
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  word-wrap:break-word;
}
#u1235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
}
#u1235 {
  position:absolute;
  left:601px;
  top:63px;
  width:105px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u1236 {
  position:absolute;
  left:2px;
  top:2px;
  width:101px;
  word-wrap:break-word;
}
#u1237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u1237 {
  position:absolute;
  left:706px;
  top:63px;
  width:100px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u1238 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u1239 {
  position:absolute;
  left:806px;
  top:63px;
  width:120px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u1240 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u1241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u1241 {
  position:absolute;
  left:0px;
  top:95px;
  width:55px;
  height:32px;
  text-align:center;
  line-height:28px;
}
#u1242 {
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:32px;
}
#u1243 {
  position:absolute;
  left:55px;
  top:95px;
  width:77px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u1244 {
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:32px;
}
#u1245 {
  position:absolute;
  left:132px;
  top:95px;
  width:111px;
  height:32px;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:16px;
}
#u1246 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:32px;
}
#u1247 {
  position:absolute;
  left:243px;
  top:95px;
  width:52px;
  height:32px;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u1248 {
  position:absolute;
  left:2px;
  top:8px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:32px;
}
#u1249 {
  position:absolute;
  left:295px;
  top:95px;
  width:106px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u1250 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:32px;
}
#u1251 {
  position:absolute;
  left:401px;
  top:95px;
  width:129px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u1252 {
  position:absolute;
  left:2px;
  top:8px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
}
#u1253 {
  position:absolute;
  left:530px;
  top:95px;
  width:71px;
  height:32px;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u1254 {
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
}
#u1255 {
  position:absolute;
  left:601px;
  top:95px;
  width:105px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u1256 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u1257 {
  position:absolute;
  left:706px;
  top:95px;
  width:100px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u1258 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u1259 {
  position:absolute;
  left:806px;
  top:95px;
  width:120px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u1260 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u1261 {
  position:absolute;
  left:0px;
  top:127px;
  width:55px;
  height:32px;
  text-align:center;
  line-height:28px;
}
#u1262 {
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:32px;
}
#u1263 {
  position:absolute;
  left:55px;
  top:127px;
  width:77px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u1264 {
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:32px;
}
#u1265 {
  position:absolute;
  left:132px;
  top:127px;
  width:111px;
  height:32px;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:16px;
}
#u1266 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:32px;
}
#u1267 {
  position:absolute;
  left:243px;
  top:127px;
  width:52px;
  height:32px;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u1268 {
  position:absolute;
  left:2px;
  top:8px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:32px;
}
#u1269 {
  position:absolute;
  left:295px;
  top:127px;
  width:106px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u1270 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:32px;
}
#u1271 {
  position:absolute;
  left:401px;
  top:127px;
  width:129px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u1272 {
  position:absolute;
  left:2px;
  top:8px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
}
#u1273 {
  position:absolute;
  left:530px;
  top:127px;
  width:71px;
  height:32px;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u1274 {
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
}
#u1275 {
  position:absolute;
  left:601px;
  top:127px;
  width:105px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u1276 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u1277 {
  position:absolute;
  left:706px;
  top:127px;
  width:100px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u1278 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u1279 {
  position:absolute;
  left:806px;
  top:127px;
  width:120px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u1280 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u1281 {
  position:absolute;
  left:0px;
  top:159px;
  width:55px;
  height:32px;
  text-align:center;
  line-height:28px;
}
#u1282 {
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:32px;
}
#u1283 {
  position:absolute;
  left:55px;
  top:159px;
  width:77px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u1284 {
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:32px;
}
#u1285 {
  position:absolute;
  left:132px;
  top:159px;
  width:111px;
  height:32px;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:16px;
}
#u1286 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:32px;
}
#u1287 {
  position:absolute;
  left:243px;
  top:159px;
  width:52px;
  height:32px;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u1288 {
  position:absolute;
  left:2px;
  top:8px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:32px;
}
#u1289 {
  position:absolute;
  left:295px;
  top:159px;
  width:106px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u1290 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:32px;
}
#u1291 {
  position:absolute;
  left:401px;
  top:159px;
  width:129px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u1292 {
  position:absolute;
  left:2px;
  top:8px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
}
#u1293 {
  position:absolute;
  left:530px;
  top:159px;
  width:71px;
  height:32px;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u1294 {
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
}
#u1295 {
  position:absolute;
  left:601px;
  top:159px;
  width:105px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u1296 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u1297 {
  position:absolute;
  left:706px;
  top:159px;
  width:100px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u1298 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u1299 {
  position:absolute;
  left:806px;
  top:159px;
  width:120px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u1300 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u1301 {
  position:absolute;
  left:33px;
  top:179px;
  width:61px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u1302 {
  position:absolute;
  left:16px;
  top:5px;
  width:29px;
  white-space:nowrap;
}
#u1301_ann {
  position:absolute;
  left:87px;
  top:175px;
  width:1px;
  height:1px;
}
#u1303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u1303 {
  position:absolute;
  left:21px;
  top:414px;
  width:139px;
  height:22px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u1304 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u1305 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1306 {
  position:absolute;
  left:618px;
  top:414px;
  width:8px;
  height:27px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1307 {
  position:absolute;
  left:0px;
  top:2px;
  width:8px;
  word-wrap:break-word;
}
#u1308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1308 {
  position:absolute;
  left:642px;
  top:414px;
  width:8px;
  height:27px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1309 {
  position:absolute;
  left:0px;
  top:2px;
  width:8px;
  word-wrap:break-word;
}
#u1310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1310 {
  position:absolute;
  left:666px;
  top:414px;
  width:8px;
  height:27px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1311 {
  position:absolute;
  left:0px;
  top:2px;
  width:8px;
  word-wrap:break-word;
}
#u1312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1312 {
  position:absolute;
  left:690px;
  top:414px;
  width:8px;
  height:27px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1313 {
  position:absolute;
  left:0px;
  top:2px;
  width:8px;
  word-wrap:break-word;
}
#u1314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  line-height:22px;
}
#u1314 {
  position:absolute;
  left:934px;
  top:414px;
  width:13px;
  height:27px;
  font-size:12px;
  color:#666666;
  line-height:22px;
}
#u1315 {
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  white-space:nowrap;
}
#u1316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u1316 {
  position:absolute;
  left:879px;
  top:408px;
  width:47px;
  height:39px;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u1317 {
  position:absolute;
  left:12px;
  top:8px;
  width:33px;
  word-wrap:break-word;
}
#u1318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  line-height:22px;
}
#u1318 {
  position:absolute;
  left:842px;
  top:414px;
  width:25px;
  height:27px;
  font-size:12px;
  color:#666666;
  line-height:22px;
}
#u1319 {
  position:absolute;
  left:0px;
  top:2px;
  width:25px;
  white-space:nowrap;
}
#u1320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:33px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:22px;
}
#u1320 {
  position:absolute;
  left:586px;
  top:411px;
  width:22px;
  height:33px;
  font-size:12px;
  color:#FFFFFF;
  line-height:22px;
}
#u1321 {
  position:absolute;
  left:2px;
  top:6px;
  width:18px;
  word-wrap:break-word;
}
#u1322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1322 {
  position:absolute;
  left:568px;
  top:420px;
  width:10px;
  height:15px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.400000005960464;
  font-size:12px;
}
#u1323 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1324 {
  position:absolute;
  left:714px;
  top:420px;
  width:10px;
  height:15px;
  opacity:0.400000005960464;
  font-size:12px;
}
#u1325 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1326 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1327 {
  position:absolute;
  left:740px;
  top:408px;
  width:86px;
  height:39px;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1328 {
  position:absolute;
  left:8px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u1329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u1329 {
  position:absolute;
  left:805px;
  top:423px;
  width:15px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.400000005960464;
  font-size:12px;
}
#u1330 {
  position:absolute;
  left:2px;
  top:-3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1331 {
  position:absolute;
  left:43px;
  top:258px;
  width:19px;
  height:16px;
}
#u1332 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1331_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1333 {
  position:absolute;
  left:43px;
  top:224px;
  width:19px;
  height:16px;
}
#u1334 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1333_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1335 {
  position:absolute;
  left:42px;
  top:284px;
  width:19px;
  height:16px;
}
#u1336 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1335_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1337 {
  position:absolute;
  left:203px;
  top:179px;
  width:61px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1338 {
  position:absolute;
  left:16px;
  top:5px;
  width:29px;
  white-space:nowrap;
}
#u1339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1339 {
  position:absolute;
  left:271px;
  top:179px;
  width:192px;
  height:32px;
  text-align:left;
}
#u1340 {
  position:absolute;
  left:2px;
  top:8px;
  width:188px;
  word-wrap:break-word;
}
#u1341 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u1342 {
  position:absolute;
  left:463px;
  top:179px;
  width:87px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u1343 {
  position:absolute;
  left:38px;
  top:5px;
  width:33px;
  white-space:nowrap;
}
#u1344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1344 {
  position:absolute;
  left:479px;
  top:188px;
  width:14px;
  height:14px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
}
#u1345 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
