body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:479px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:257px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u6237 {
  position:absolute;
  left:54px;
  top:53px;
  width:425px;
  height:257px;
}
#u6238 {
  position:absolute;
  left:2px;
  top:120px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:2px;
}
#u6239 {
  position:absolute;
  left:53px;
  top:258px;
  width:426px;
  height:1px;
}
#u6240 {
  position:absolute;
  left:2px;
  top:-8px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:39px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6241 {
  position:absolute;
  left:319px;
  top:263px;
  width:54px;
  height:39px;
}
#u6242 {
  position:absolute;
  left:2px;
  top:12px;
  width:50px;
  word-wrap:break-word;
}
#u6241_ann {
  position:absolute;
  left:366px;
  top:259px;
  width:1px;
  height:1px;
}
#u6243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:39px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6243 {
  position:absolute;
  left:403px;
  top:263px;
  width:52px;
  height:39px;
  color:#666666;
}
#u6244 {
  position:absolute;
  left:2px;
  top:12px;
  width:48px;
  word-wrap:break-word;
}
#u6245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:40px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 236, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6245 {
  position:absolute;
  left:54px;
  top:53px;
  width:425px;
  height:40px;
}
#u6246 {
  position:absolute;
  left:2px;
  top:12px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6247 {
  position:absolute;
  left:64px;
  top:65px;
  width:85px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6248 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u6249 {
  position:absolute;
  left:456px;
  top:66px;
  width:12px;
  height:14px;
}
#u6250 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u6251 {
  position:absolute;
  left:112px;
  top:175px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u6252 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u6253 {
  position:absolute;
  left:124px;
  top:222px;
  width:40px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u6254 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u6255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:20px;
}
#u6255 {
  position:absolute;
  left:53px;
  top:64px;
  width:8px;
  height:20px;
}
#u6256 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u6257 {
  position:absolute;
  left:180px;
  top:222px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u6258 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6259 {
  position:absolute;
  left:179px;
  top:167px;
  width:192px;
  height:32px;
}
#u6260 {
  position:absolute;
  left:2px;
  top:8px;
  width:188px;
  word-wrap:break-word;
}
#u6261 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6262 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u6263 {
  position:absolute;
  left:180px;
  top:122px;
  width:188px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u6264 {
  position:absolute;
  left:12px;
  top:5px;
  width:168px;
  word-wrap:break-word;
}
#u6265 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u6266 {
  position:absolute;
  left:342px;
  top:131px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6267 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6268 {
  position:absolute;
  left:356px;
  top:134px;
  width:15px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u6269 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  word-wrap:break-word;
}
#u6270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:22px;
}
#u6270 {
  position:absolute;
  left:90px;
  top:122px;
  width:76px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:22px;
}
#u6271 {
  position:absolute;
  left:0px;
  top:5px;
  width:76px;
  white-space:nowrap;
}
