body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:479px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:554px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u21028 {
  position:absolute;
  left:54px;
  top:26px;
  width:425px;
  height:554px;
}
#u21029 {
  position:absolute;
  left:2px;
  top:269px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:2px;
}
#u21030 {
  position:absolute;
  left:53px;
  top:528px;
  width:426px;
  height:1px;
}
#u21031 {
  position:absolute;
  left:2px;
  top:-8px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21032 {
  position:absolute;
  left:319px;
  top:541px;
  width:54px;
  height:37px;
}
#u21033 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  word-wrap:break-word;
}
#u21032_ann {
  position:absolute;
  left:366px;
  top:537px;
  width:1px;
  height:1px;
}
#u21034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21034 {
  position:absolute;
  left:403px;
  top:541px;
  width:52px;
  height:37px;
  color:#666666;
}
#u21035 {
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  word-wrap:break-word;
}
#u21036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:44px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 236, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21036 {
  position:absolute;
  left:54px;
  top:25px;
  width:425px;
  height:44px;
}
#u21037 {
  position:absolute;
  left:2px;
  top:14px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u21038 {
  position:absolute;
  left:64px;
  top:38px;
  width:113px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u21039 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u21040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:15px;
}
#u21040 {
  position:absolute;
  left:456px;
  top:39px;
  width:12px;
  height:15px;
}
#u21041 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u21042 {
  position:absolute;
  left:94px;
  top:445px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u21043 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u21044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u21044 {
  position:absolute;
  left:168px;
  top:436px;
  width:209px;
  height:34px;
  text-align:left;
}
#u21045 {
  position:absolute;
  left:2px;
  top:9px;
  width:205px;
  word-wrap:break-word;
}
#u21044_ann {
  position:absolute;
  left:370px;
  top:432px;
  width:1px;
  height:1px;
}
#u21046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:22px;
}
#u21046 {
  position:absolute;
  left:53px;
  top:37px;
  width:8px;
  height:22px;
}
#u21047 {
  position:absolute;
  left:2px;
  top:3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21048 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u21050 {
  position:absolute;
  left:172px;
  top:78px;
  width:204px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u21051 {
  position:absolute;
  left:12px;
  top:5px;
  width:184px;
  word-wrap:break-word;
}
#u21052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u21053 {
  position:absolute;
  left:347px;
  top:86px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u21054 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u21055 {
  position:absolute;
  left:363px;
  top:90px;
  width:15px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u21056 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  word-wrap:break-word;
}
#u21057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:22px;
}
#u21057 {
  position:absolute;
  left:114px;
  top:78px;
  width:48px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:22px;
}
#u21058 {
  position:absolute;
  left:0px;
  top:5px;
  width:48px;
  white-space:nowrap;
}
#u21059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21060 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u21061 {
  position:absolute;
  left:171px;
  top:118px;
  width:204px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u21062 {
  position:absolute;
  left:12px;
  top:5px;
  width:184px;
  word-wrap:break-word;
}
#u21063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u21064 {
  position:absolute;
  left:346px;
  top:126px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u21065 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u21066 {
  position:absolute;
  left:362px;
  top:130px;
  width:15px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u21067 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  word-wrap:break-word;
}
#u21068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:22px;
}
#u21068 {
  position:absolute;
  left:85px;
  top:118px;
  width:76px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:22px;
}
#u21069 {
  position:absolute;
  left:0px;
  top:5px;
  width:76px;
  white-space:nowrap;
}
#u21070 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u21072 {
  position:absolute;
  left:170px;
  top:157px;
  width:204px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u21073 {
  position:absolute;
  left:12px;
  top:5px;
  width:184px;
  word-wrap:break-word;
}
#u21074 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u21075 {
  position:absolute;
  left:345px;
  top:165px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u21076 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u21077 {
  position:absolute;
  left:361px;
  top:169px;
  width:15px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u21078 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  word-wrap:break-word;
}
#u21079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:22px;
}
#u21079 {
  position:absolute;
  left:84px;
  top:157px;
  width:76px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:22px;
}
#u21080 {
  position:absolute;
  left:0px;
  top:5px;
  width:76px;
  white-space:nowrap;
}
#u21081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21082 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u21083 {
  position:absolute;
  left:170px;
  top:198px;
  width:204px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u21084 {
  position:absolute;
  left:12px;
  top:5px;
  width:184px;
  word-wrap:break-word;
}
#u21085 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u21086 {
  position:absolute;
  left:345px;
  top:206px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u21087 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u21088 {
  position:absolute;
  left:361px;
  top:210px;
  width:15px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u21089 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  word-wrap:break-word;
}
#u21090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u21090 {
  position:absolute;
  left:89px;
  top:198px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u21091 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u21090_ann {
  position:absolute;
  left:153px;
  top:194px;
  width:1px;
  height:1px;
}
#u21092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u21092 {
  position:absolute;
  left:89px;
  top:244px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u21093 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u21092_ann {
  position:absolute;
  left:148px;
  top:240px;
  width:1px;
  height:1px;
}
#u21094 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21095 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u21096 {
  position:absolute;
  left:184px;
  top:237px;
  width:47px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u21097 {
  position:absolute;
  left:8px;
  top:5px;
  width:15px;
  white-space:nowrap;
}
#u21098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u21098 {
  position:absolute;
  left:170px;
  top:244px;
  width:14px;
  height:14px;
}
#u21099 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21101 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u21102 {
  position:absolute;
  left:250px;
  top:237px;
  width:47px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u21103 {
  position:absolute;
  left:8px;
  top:5px;
  width:15px;
  white-space:nowrap;
}
#u21104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u21104 {
  position:absolute;
  left:236px;
  top:244px;
  width:14px;
  height:14px;
}
#u21105 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u21106 {
  position:absolute;
  left:238px;
  top:246px;
  width:10px;
  height:10px;
}
#u21107 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u21108 {
  position:absolute;
  left:89px;
  top:276px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u21109 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u21108_ann {
  position:absolute;
  left:148px;
  top:272px;
  width:1px;
  height:1px;
}
#u21110 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21111 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u21112 {
  position:absolute;
  left:184px;
  top:269px;
  width:47px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u21113 {
  position:absolute;
  left:8px;
  top:5px;
  width:15px;
  white-space:nowrap;
}
#u21114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u21114 {
  position:absolute;
  left:170px;
  top:276px;
  width:14px;
  height:14px;
}
#u21115 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21116 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21117 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u21118 {
  position:absolute;
  left:250px;
  top:269px;
  width:47px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u21119 {
  position:absolute;
  left:8px;
  top:5px;
  width:15px;
  white-space:nowrap;
}
#u21120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u21120 {
  position:absolute;
  left:236px;
  top:276px;
  width:14px;
  height:14px;
}
#u21121 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u21122 {
  position:absolute;
  left:238px;
  top:278px;
  width:10px;
  height:10px;
}
#u21123 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u21124 {
  position:absolute;
  left:89px;
  top:304px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u21125 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u21124_ann {
  position:absolute;
  left:148px;
  top:300px;
  width:1px;
  height:1px;
}
#u21126 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21127 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u21128 {
  position:absolute;
  left:184px;
  top:297px;
  width:47px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u21129 {
  position:absolute;
  left:8px;
  top:5px;
  width:15px;
  white-space:nowrap;
}
#u21130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u21130 {
  position:absolute;
  left:170px;
  top:304px;
  width:14px;
  height:14px;
}
#u21131 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21132 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u21134 {
  position:absolute;
  left:250px;
  top:297px;
  width:47px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u21135 {
  position:absolute;
  left:8px;
  top:5px;
  width:15px;
  white-space:nowrap;
}
#u21136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u21136 {
  position:absolute;
  left:236px;
  top:304px;
  width:14px;
  height:14px;
}
#u21137 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u21138 {
  position:absolute;
  left:238px;
  top:306px;
  width:10px;
  height:10px;
}
#u21139 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21141 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u21142 {
  position:absolute;
  left:170px;
  top:327px;
  width:204px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u21143 {
  position:absolute;
  left:12px;
  top:5px;
  width:184px;
  word-wrap:break-word;
}
#u21144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u21145 {
  position:absolute;
  left:345px;
  top:335px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u21146 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u21147 {
  position:absolute;
  left:361px;
  top:339px;
  width:15px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u21148 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  word-wrap:break-word;
}
#u21149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u21149 {
  position:absolute;
  left:89px;
  top:327px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u21150 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u21149_ann {
  position:absolute;
  left:153px;
  top:323px;
  width:1px;
  height:1px;
}
#u21151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u21151 {
  position:absolute;
  left:89px;
  top:372px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u21152 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u21151_ann {
  position:absolute;
  left:148px;
  top:368px;
  width:1px;
  height:1px;
}
#u21153 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21154 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u21155 {
  position:absolute;
  left:184px;
  top:365px;
  width:47px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u21156 {
  position:absolute;
  left:8px;
  top:5px;
  width:15px;
  white-space:nowrap;
}
#u21157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u21157 {
  position:absolute;
  left:170px;
  top:372px;
  width:14px;
  height:14px;
}
#u21158 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21159 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21160 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u21161 {
  position:absolute;
  left:250px;
  top:365px;
  width:47px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u21162 {
  position:absolute;
  left:8px;
  top:5px;
  width:15px;
  white-space:nowrap;
}
#u21163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u21163 {
  position:absolute;
  left:236px;
  top:372px;
  width:14px;
  height:14px;
}
#u21164 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u21165 {
  position:absolute;
  left:238px;
  top:374px;
  width:10px;
  height:10px;
}
#u21166 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21167 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21168 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u21169 {
  position:absolute;
  left:169px;
  top:396px;
  width:204px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u21170 {
  position:absolute;
  left:12px;
  top:5px;
  width:184px;
  word-wrap:break-word;
}
#u21171 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u21172 {
  position:absolute;
  left:344px;
  top:404px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u21173 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u21174 {
  position:absolute;
  left:360px;
  top:408px;
  width:15px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u21175 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  word-wrap:break-word;
}
#u21176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u21176 {
  position:absolute;
  left:88px;
  top:396px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u21177 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u21176_ann {
  position:absolute;
  left:152px;
  top:392px;
  width:1px;
  height:1px;
}
#u21178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u21178 {
  position:absolute;
  left:117px;
  top:482px;
  width:40px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u21179 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u21180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u21180 {
  position:absolute;
  left:178px;
  top:482px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u21181 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
