body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:479px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:291px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u10465 {
  position:absolute;
  left:54px;
  top:53px;
  width:425px;
  height:291px;
}
#u10466 {
  position:absolute;
  left:2px;
  top:138px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:2px;
}
#u10467 {
  position:absolute;
  left:53px;
  top:295px;
  width:426px;
  height:1px;
}
#u10468 {
  position:absolute;
  left:2px;
  top:-8px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10469 {
  position:absolute;
  left:319px;
  top:306px;
  width:54px;
  height:30px;
}
#u10470 {
  position:absolute;
  left:2px;
  top:7px;
  width:50px;
  word-wrap:break-word;
}
#u10469_ann {
  position:absolute;
  left:366px;
  top:302px;
  width:1px;
  height:1px;
}
#u10471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u10471 {
  position:absolute;
  left:403px;
  top:306px;
  width:52px;
  height:30px;
  color:#666666;
}
#u10472 {
  position:absolute;
  left:2px;
  top:7px;
  width:48px;
  word-wrap:break-word;
}
#u10473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:40px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 236, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10473 {
  position:absolute;
  left:54px;
  top:53px;
  width:425px;
  height:40px;
}
#u10474 {
  position:absolute;
  left:2px;
  top:12px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u10475 {
  position:absolute;
  left:64px;
  top:65px;
  width:71px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u10476 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u10477 {
  position:absolute;
  left:456px;
  top:66px;
  width:12px;
  height:14px;
}
#u10478 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u10479 {
  position:absolute;
  left:99px;
  top:198px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u10480 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u10481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10481 {
  position:absolute;
  left:169px;
  top:190px;
  width:209px;
  height:32px;
}
#u10482 {
  position:absolute;
  left:2px;
  top:8px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u10483 {
  position:absolute;
  left:122px;
  top:237px;
  width:40px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u10484 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u10485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:20px;
}
#u10485 {
  position:absolute;
  left:53px;
  top:64px;
  width:8px;
  height:20px;
}
#u10486 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u10487 {
  position:absolute;
  left:169px;
  top:237px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u10488 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u10489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u10489 {
  position:absolute;
  left:81px;
  top:112px;
  width:84px;
  height:16px;
  font-size:13px;
  text-align:right;
}
#u10490 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u10491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10491 {
  position:absolute;
  left:169px;
  top:104px;
  width:209px;
  height:32px;
}
#u10492 {
  position:absolute;
  left:2px;
  top:8px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u10493 {
  position:absolute;
  left:81px;
  top:154px;
  width:84px;
  height:16px;
  font-size:13px;
  text-align:right;
}
#u10494 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u10495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10495 {
  position:absolute;
  left:169px;
  top:146px;
  width:209px;
  height:32px;
}
#u10496 {
  position:absolute;
  left:2px;
  top:8px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
