body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:479px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:483px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u19967 {
  position:absolute;
  left:54px;
  top:53px;
  width:425px;
  height:483px;
}
#u19968 {
  position:absolute;
  left:2px;
  top:234px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:2px;
}
#u19969 {
  position:absolute;
  left:53px;
  top:484px;
  width:426px;
  height:1px;
}
#u19970 {
  position:absolute;
  left:2px;
  top:-8px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19971 {
  position:absolute;
  left:319px;
  top:495px;
  width:54px;
  height:30px;
}
#u19972 {
  position:absolute;
  left:2px;
  top:7px;
  width:50px;
  word-wrap:break-word;
}
#u19971_ann {
  position:absolute;
  left:366px;
  top:491px;
  width:1px;
  height:1px;
}
#u19973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u19973 {
  position:absolute;
  left:403px;
  top:495px;
  width:52px;
  height:30px;
  color:#666666;
}
#u19974 {
  position:absolute;
  left:2px;
  top:7px;
  width:48px;
  word-wrap:break-word;
}
#u19975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:40px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 236, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19975 {
  position:absolute;
  left:54px;
  top:53px;
  width:425px;
  height:40px;
}
#u19976 {
  position:absolute;
  left:2px;
  top:12px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u19977 {
  position:absolute;
  left:64px;
  top:65px;
  width:85px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u19978 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u19979 {
  position:absolute;
  left:456px;
  top:66px;
  width:12px;
  height:14px;
}
#u19980 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u19981 {
  position:absolute;
  left:180px;
  top:306px;
  width:40px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u19982 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u19983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u19983 {
  position:absolute;
  left:232px;
  top:298px;
  width:205px;
  height:32px;
  text-align:left;
}
#u19984 {
  position:absolute;
  left:2px;
  top:8px;
  width:201px;
  word-wrap:break-word;
}
#u19985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:20px;
}
#u19985 {
  position:absolute;
  left:53px;
  top:64px;
  width:8px;
  height:20px;
}
#u19986 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u19987 {
  position:absolute;
  left:169px;
  top:230px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u19988 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u19989 {
  position:absolute;
  left:232px;
  top:222px;
  width:205px;
  height:32px;
  text-align:left;
}
#u19990 {
  position:absolute;
  left:2px;
  top:8px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u19991 {
  position:absolute;
  left:169px;
  top:268px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u19992 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u19993 {
  position:absolute;
  left:231px;
  top:260px;
  width:206px;
  height:32px;
  text-align:left;
}
#u19994 {
  position:absolute;
  left:2px;
  top:8px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u19997 {
  position:absolute;
  left:234px;
  top:104px;
  width:204px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u19998 {
  position:absolute;
  left:12px;
  top:5px;
  width:184px;
  word-wrap:break-word;
}
#u19999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u20000 {
  position:absolute;
  left:409px;
  top:112px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20001 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20002 {
  position:absolute;
  left:425px;
  top:116px;
  width:15px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u20003 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  word-wrap:break-word;
}
#u20004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u20004 {
  position:absolute;
  left:153px;
  top:104px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u20005 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u20006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20007 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u20008 {
  position:absolute;
  left:233px;
  top:142px;
  width:204px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u20009 {
  position:absolute;
  left:12px;
  top:8px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u20011 {
  position:absolute;
  left:408px;
  top:150px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20012 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20013 {
  position:absolute;
  left:424px;
  top:154px;
  width:15px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u20014 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  word-wrap:break-word;
}
#u20015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u20015 {
  position:absolute;
  left:152px;
  top:142px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u20016 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u20017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u20019 {
  position:absolute;
  left:233px;
  top:182px;
  width:204px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u20020 {
  position:absolute;
  left:12px;
  top:8px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20021 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u20022 {
  position:absolute;
  left:408px;
  top:190px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20023 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20024 {
  position:absolute;
  left:424px;
  top:194px;
  width:15px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u20025 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  word-wrap:break-word;
}
#u20026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u20026 {
  position:absolute;
  left:152px;
  top:182px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u20027 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u20028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u20028 {
  position:absolute;
  left:108px;
  top:344px;
  width:112px;
  height:17px;
  text-align:right;
}
#u20029 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u20030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u20030 {
  position:absolute;
  left:233px;
  top:336px;
  width:205px;
  height:32px;
  text-align:left;
}
#u20031 {
  position:absolute;
  left:2px;
  top:8px;
  width:201px;
  word-wrap:break-word;
}
#u20032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u20032 {
  position:absolute;
  left:121px;
  top:386px;
  width:100px;
  height:17px;
  text-align:right;
}
#u20033 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u20034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u20034 {
  position:absolute;
  left:233px;
  top:378px;
  width:205px;
  height:32px;
  text-align:left;
}
#u20035 {
  position:absolute;
  left:2px;
  top:8px;
  width:201px;
  word-wrap:break-word;
}
#u20036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u20036 {
  position:absolute;
  left:73px;
  top:423px;
  width:146px;
  height:17px;
  text-align:right;
}
#u20037 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u20038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u20038 {
  position:absolute;
  left:232px;
  top:415px;
  width:205px;
  height:32px;
  text-align:left;
}
#u20039 {
  position:absolute;
  left:2px;
  top:8px;
  width:201px;
  word-wrap:break-word;
}
#u20040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u20040 {
  position:absolute;
  left:174px;
  top:458px;
  width:40px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u20041 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u20040_ann {
  position:absolute;
  left:207px;
  top:454px;
  width:1px;
  height:1px;
}
#u20042 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20043 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u20044 {
  position:absolute;
  left:243px;
  top:451px;
  width:61px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u20045 {
  position:absolute;
  left:8px;
  top:5px;
  width:29px;
  white-space:nowrap;
}
#u20046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u20046 {
  position:absolute;
  left:229px;
  top:458px;
  width:14px;
  height:14px;
}
#u20047 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20048 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u20050 {
  position:absolute;
  left:310px;
  top:450px;
  width:61px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u20051 {
  position:absolute;
  left:8px;
  top:5px;
  width:29px;
  white-space:nowrap;
}
#u20052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u20052 {
  position:absolute;
  left:296px;
  top:457px;
  width:14px;
  height:14px;
}
#u20053 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u20054 {
  position:absolute;
  left:298px;
  top:459px;
  width:10px;
  height:10px;
}
#u20055 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
