body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:777px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:714px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3642 {
  position:absolute;
  left:60px;
  top:-408px;
  width:717px;
  height:714px;
}
#u3643 {
  position:absolute;
  left:2px;
  top:349px;
  width:713px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
  background:inherit;
  background-color:rgba(77, 156, 218, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u3644 {
  position:absolute;
  left:398px;
  top:260px;
  width:52px;
  height:43px;
  color:#666666;
}
#u3645 {
  position:absolute;
  left:2px;
  top:14px;
  width:48px;
  word-wrap:break-word;
}
#u3646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:33px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 236, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3646 {
  position:absolute;
  left:60px;
  top:8px;
  width:717px;
  height:33px;
}
#u3647 {
  position:absolute;
  left:2px;
  top:8px;
  width:713px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3648 {
  position:absolute;
  left:70px;
  top:14px;
  width:99px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3649 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u3650 {
  position:absolute;
  left:757px;
  top:20px;
  width:12px;
  height:14px;
}
#u3651 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:20px;
}
#u3652 {
  position:absolute;
  left:59px;
  top:13px;
  width:8px;
  height:20px;
}
#u3653 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:2px;
}
#u3654 {
  position:absolute;
  left:57px;
  top:84px;
  width:720px;
  height:1px;
}
#u3655 {
  position:absolute;
  left:2px;
  top:-8px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:2px;
}
#u3656 {
  position:absolute;
  left:62px;
  top:258px;
  width:715px;
  height:1px;
}
#u3657 {
  position:absolute;
  left:2px;
  top:-8px;
  width:711px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3658 {
  position:absolute;
  left:69px;
  top:92px;
  width:700px;
  height:164px;
}
#u3659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u3659 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u3660 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u3661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u3661 {
  position:absolute;
  left:65px;
  top:0px;
  width:93px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u3662 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u3663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u3663 {
  position:absolute;
  left:158px;
  top:0px;
  width:57px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u3664 {
  position:absolute;
  left:2px;
  top:6px;
  width:53px;
  word-wrap:break-word;
}
#u3665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u3665 {
  position:absolute;
  left:215px;
  top:0px;
  width:96px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u3666 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u3667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u3667 {
  position:absolute;
  left:311px;
  top:0px;
  width:94px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u3668 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u3669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u3669 {
  position:absolute;
  left:405px;
  top:0px;
  width:88px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u3670 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u3671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u3671 {
  position:absolute;
  left:493px;
  top:0px;
  width:89px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u3672 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u3673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u3673 {
  position:absolute;
  left:582px;
  top:0px;
  width:113px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u3674 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u3675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u3675 {
  position:absolute;
  left:0px;
  top:30px;
  width:65px;
  height:33px;
  text-align:center;
  line-height:28px;
}
#u3676 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:33px;
}
#u3677 {
  position:absolute;
  left:65px;
  top:30px;
  width:93px;
  height:33px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u3678 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u3679 {
  position:absolute;
  left:158px;
  top:30px;
  width:57px;
  height:33px;
  font-size:12px;
  line-height:28px;
}
#u3680 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:33px;
}
#u3681 {
  position:absolute;
  left:215px;
  top:30px;
  width:96px;
  height:33px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u3682 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:33px;
}
#u3683 {
  position:absolute;
  left:311px;
  top:30px;
  width:94px;
  height:33px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u3684 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u3685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:33px;
}
#u3685 {
  position:absolute;
  left:405px;
  top:30px;
  width:88px;
  height:33px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u3686 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:33px;
}
#u3687 {
  position:absolute;
  left:493px;
  top:30px;
  width:89px;
  height:33px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u3688 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u3689 {
  position:absolute;
  left:582px;
  top:30px;
  width:113px;
  height:33px;
  font-size:12px;
  line-height:28px;
}
#u3690 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
}
#u3691 {
  position:absolute;
  left:0px;
  top:63px;
  width:65px;
  height:32px;
  text-align:center;
  line-height:28px;
}
#u3692 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
}
#u3693 {
  position:absolute;
  left:65px;
  top:63px;
  width:93px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u3694 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
}
#u3695 {
  position:absolute;
  left:158px;
  top:63px;
  width:57px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u3696 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:32px;
}
#u3697 {
  position:absolute;
  left:215px;
  top:63px;
  width:96px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u3698 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
}
#u3699 {
  position:absolute;
  left:311px;
  top:63px;
  width:94px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u3700 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
}
#u3701 {
  position:absolute;
  left:405px;
  top:63px;
  width:88px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u3702 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
}
#u3703 {
  position:absolute;
  left:493px;
  top:63px;
  width:89px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u3704 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
}
#u3705 {
  position:absolute;
  left:582px;
  top:63px;
  width:113px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u3706 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
}
#u3707 {
  position:absolute;
  left:0px;
  top:95px;
  width:65px;
  height:32px;
  text-align:center;
  line-height:28px;
}
#u3708 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
}
#u3709 {
  position:absolute;
  left:65px;
  top:95px;
  width:93px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u3710 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
}
#u3711 {
  position:absolute;
  left:158px;
  top:95px;
  width:57px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u3712 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:32px;
}
#u3713 {
  position:absolute;
  left:215px;
  top:95px;
  width:96px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u3714 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
}
#u3715 {
  position:absolute;
  left:311px;
  top:95px;
  width:94px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u3716 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
}
#u3717 {
  position:absolute;
  left:405px;
  top:95px;
  width:88px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u3718 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
}
#u3719 {
  position:absolute;
  left:493px;
  top:95px;
  width:89px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u3720 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
}
#u3721 {
  position:absolute;
  left:582px;
  top:95px;
  width:113px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u3722 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
}
#u3723 {
  position:absolute;
  left:0px;
  top:127px;
  width:65px;
  height:32px;
  text-align:center;
  line-height:28px;
}
#u3724 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
}
#u3725 {
  position:absolute;
  left:65px;
  top:127px;
  width:93px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u3726 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
}
#u3727 {
  position:absolute;
  left:158px;
  top:127px;
  width:57px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u3728 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:32px;
}
#u3729 {
  position:absolute;
  left:215px;
  top:127px;
  width:96px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u3730 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
}
#u3731 {
  position:absolute;
  left:311px;
  top:127px;
  width:94px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u3732 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
}
#u3733 {
  position:absolute;
  left:405px;
  top:127px;
  width:88px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u3734 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
}
#u3735 {
  position:absolute;
  left:493px;
  top:127px;
  width:89px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u3736 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
}
#u3737 {
  position:absolute;
  left:582px;
  top:127px;
  width:113px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u3738 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
}
#u3739 {
  position:absolute;
  left:65px;
  top:44px;
  width:99px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u3740 {
  position:absolute;
  left:2px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u3739_ann {
  position:absolute;
  left:157px;
  top:40px;
  width:1px;
  height:1px;
}
#u3741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
}
#u3741 {
  position:absolute;
  left:174px;
  top:46px;
  width:99px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u3742 {
  position:absolute;
  left:2px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u3743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
}
#u3743 {
  position:absolute;
  left:291px;
  top:45px;
  width:99px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u3744 {
  position:absolute;
  left:2px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u3745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
}
#u3745 {
  position:absolute;
  left:522px;
  top:46px;
  width:99px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u3746 {
  position:absolute;
  left:2px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u3747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
}
#u3747 {
  position:absolute;
  left:409px;
  top:45px;
  width:99px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u3748 {
  position:absolute;
  left:2px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
