body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:777px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:676px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u31425 {
  position:absolute;
  left:60px;
  top:-366px;
  width:717px;
  height:676px;
}
#u31426 {
  position:absolute;
  left:2px;
  top:330px;
  width:713px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u31427 {
  position:absolute;
  left:398px;
  top:261px;
  width:52px;
  height:43px;
  color:#666666;
}
#u31428 {
  position:absolute;
  left:2px;
  top:14px;
  width:48px;
  word-wrap:break-word;
}
#u31429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:33px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 236, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31429 {
  position:absolute;
  left:60px;
  top:8px;
  width:717px;
  height:33px;
}
#u31430 {
  position:absolute;
  left:2px;
  top:8px;
  width:713px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u31431 {
  position:absolute;
  left:70px;
  top:14px;
  width:78px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u31432 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u31433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u31433 {
  position:absolute;
  left:757px;
  top:20px;
  width:12px;
  height:14px;
}
#u31434 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:20px;
}
#u31435 {
  position:absolute;
  left:59px;
  top:13px;
  width:8px;
  height:20px;
}
#u31436 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:2px;
}
#u31437 {
  position:absolute;
  left:62px;
  top:256px;
  width:715px;
  height:1px;
}
#u31438 {
  position:absolute;
  left:2px;
  top:-8px;
  width:711px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
}
#u31439 {
  position:absolute;
  left:65px;
  top:45px;
  width:99px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u31440 {
  position:absolute;
  left:2px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u31439_ann {
  position:absolute;
  left:157px;
  top:41px;
  width:1px;
  height:1px;
}
#u31441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
}
#u31441 {
  position:absolute;
  left:180px;
  top:44px;
  width:99px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u31442 {
  position:absolute;
  left:2px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u31443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
}
#u31443 {
  position:absolute;
  left:291px;
  top:43px;
  width:99px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u31444 {
  position:absolute;
  left:2px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u31445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
}
#u31445 {
  position:absolute;
  left:401px;
  top:43px;
  width:99px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u31446 {
  position:absolute;
  left:2px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u31447 {
  position:absolute;
  left:69px;
  top:92px;
  width:709px;
  height:164px;
}
#u31448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u31448 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u31449 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u31450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u31450 {
  position:absolute;
  left:65px;
  top:0px;
  width:72px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u31451 {
  position:absolute;
  left:2px;
  top:6px;
  width:68px;
  word-wrap:break-word;
}
#u31452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u31452 {
  position:absolute;
  left:137px;
  top:0px;
  width:86px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u31453 {
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u31454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u31454 {
  position:absolute;
  left:223px;
  top:0px;
  width:108px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u31455 {
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u31456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u31456 {
  position:absolute;
  left:331px;
  top:0px;
  width:73px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u31457 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u31458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u31458 {
  position:absolute;
  left:404px;
  top:0px;
  width:82px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u31459 {
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u31460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u31460 {
  position:absolute;
  left:486px;
  top:0px;
  width:68px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u31461 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u31462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u31462 {
  position:absolute;
  left:554px;
  top:0px;
  width:68px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u31463 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u31464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u31464 {
  position:absolute;
  left:622px;
  top:0px;
  width:82px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u31465 {
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u31466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u31466 {
  position:absolute;
  left:0px;
  top:30px;
  width:65px;
  height:33px;
  text-align:center;
  line-height:28px;
}
#u31467 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u31468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:33px;
}
#u31468 {
  position:absolute;
  left:65px;
  top:30px;
  width:72px;
  height:33px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u31469 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u31470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
}
#u31470 {
  position:absolute;
  left:137px;
  top:30px;
  width:86px;
  height:33px;
  line-height:28px;
}
#u31471 {
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  word-wrap:break-word;
}
#u31472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
}
#u31472 {
  position:absolute;
  left:223px;
  top:30px;
  width:108px;
  height:33px;
}
#u31473 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u31474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
}
#u31474 {
  position:absolute;
  left:331px;
  top:30px;
  width:73px;
  height:33px;
  font-size:12px;
  line-height:28px;
}
#u31475 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:33px;
}
#u31476 {
  position:absolute;
  left:404px;
  top:30px;
  width:82px;
  height:33px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u31477 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:33px;
}
#u31478 {
  position:absolute;
  left:486px;
  top:30px;
  width:68px;
  height:33px;
  font-size:12px;
  line-height:28px;
}
#u31479 {
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:33px;
}
#u31480 {
  position:absolute;
  left:554px;
  top:30px;
  width:68px;
  height:33px;
  font-size:12px;
  line-height:28px;
}
#u31481 {
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:33px;
}
#u31482 {
  position:absolute;
  left:622px;
  top:30px;
  width:82px;
  height:33px;
  font-size:12px;
  line-height:28px;
}
#u31483 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
}
#u31484 {
  position:absolute;
  left:0px;
  top:63px;
  width:65px;
  height:32px;
  text-align:center;
  line-height:28px;
}
#u31485 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u31486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:32px;
}
#u31486 {
  position:absolute;
  left:65px;
  top:63px;
  width:72px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u31487 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u31488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
}
#u31488 {
  position:absolute;
  left:137px;
  top:63px;
  width:86px;
  height:32px;
  line-height:28px;
}
#u31489 {
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  word-wrap:break-word;
}
#u31490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u31490 {
  position:absolute;
  left:223px;
  top:63px;
  width:108px;
  height:32px;
}
#u31491 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u31492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
}
#u31492 {
  position:absolute;
  left:331px;
  top:63px;
  width:73px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u31493 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
}
#u31494 {
  position:absolute;
  left:404px;
  top:63px;
  width:82px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u31495 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:32px;
}
#u31496 {
  position:absolute;
  left:486px;
  top:63px;
  width:68px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u31497 {
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:32px;
}
#u31498 {
  position:absolute;
  left:554px;
  top:63px;
  width:68px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u31499 {
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
}
#u31500 {
  position:absolute;
  left:622px;
  top:63px;
  width:82px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u31501 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
}
#u31502 {
  position:absolute;
  left:0px;
  top:95px;
  width:65px;
  height:32px;
  text-align:center;
  line-height:28px;
}
#u31503 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:32px;
}
#u31504 {
  position:absolute;
  left:65px;
  top:95px;
  width:72px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u31505 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
}
#u31506 {
  position:absolute;
  left:137px;
  top:95px;
  width:86px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u31507 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u31508 {
  position:absolute;
  left:223px;
  top:95px;
  width:108px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u31509 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
}
#u31510 {
  position:absolute;
  left:331px;
  top:95px;
  width:73px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u31511 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
}
#u31512 {
  position:absolute;
  left:404px;
  top:95px;
  width:82px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u31513 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:32px;
}
#u31514 {
  position:absolute;
  left:486px;
  top:95px;
  width:68px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u31515 {
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:32px;
}
#u31516 {
  position:absolute;
  left:554px;
  top:95px;
  width:68px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u31517 {
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
}
#u31518 {
  position:absolute;
  left:622px;
  top:95px;
  width:82px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u31519 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
}
#u31520 {
  position:absolute;
  left:0px;
  top:127px;
  width:65px;
  height:32px;
  text-align:center;
  line-height:28px;
}
#u31521 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:32px;
}
#u31522 {
  position:absolute;
  left:65px;
  top:127px;
  width:72px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u31523 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
}
#u31524 {
  position:absolute;
  left:137px;
  top:127px;
  width:86px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u31525 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u31526 {
  position:absolute;
  left:223px;
  top:127px;
  width:108px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u31527 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
}
#u31528 {
  position:absolute;
  left:331px;
  top:127px;
  width:73px;
  height:32px;
  font-size:12px;
  line-height:28px;
}
#u31529 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
}
#u31530 {
  position:absolute;
  left:404px;
  top:127px;
  width:82px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u31531 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:32px;
}
#u31532 {
  position:absolute;
  left:486px;
  top:127px;
  width:68px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u31533 {
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:32px;
}
#u31534 {
  position:absolute;
  left:554px;
  top:127px;
  width:68px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u31535 {
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
}
#u31536 {
  position:absolute;
  left:622px;
  top:127px;
  width:82px;
  height:32px;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u31537 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:2px;
}
#u31538 {
  position:absolute;
  left:57px;
  top:84px;
  width:720px;
  height:1px;
}
#u31539 {
  position:absolute;
  left:2px;
  top:-8px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
