body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:721px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:553px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u13962 {
  position:absolute;
  left:60px;
  top:20px;
  width:660px;
  height:553px;
}
#u13963 {
  position:absolute;
  left:2px;
  top:268px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:2px;
}
#u13964 {
  position:absolute;
  left:60px;
  top:515px;
  width:661px;
  height:1px;
}
#u13965 {
  position:absolute;
  left:2px;
  top:-8px;
  width:657px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:39px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13966 {
  position:absolute;
  left:260px;
  top:526px;
  width:54px;
  height:39px;
}
#u13967 {
  position:absolute;
  left:2px;
  top:12px;
  width:50px;
  word-wrap:break-word;
}
#u13966_ann {
  position:absolute;
  left:307px;
  top:522px;
  width:1px;
  height:1px;
}
#u13968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:39px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u13968 {
  position:absolute;
  left:453px;
  top:526px;
  width:52px;
  height:39px;
  color:#666666;
}
#u13969 {
  position:absolute;
  left:2px;
  top:12px;
  width:48px;
  word-wrap:break-word;
}
#u13970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:40px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 236, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13970 {
  position:absolute;
  left:60px;
  top:20px;
  width:660px;
  height:40px;
}
#u13971 {
  position:absolute;
  left:2px;
  top:12px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u13972 {
  position:absolute;
  left:70px;
  top:32px;
  width:85px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u13973 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u13974 {
  position:absolute;
  left:698px;
  top:33px;
  width:12px;
  height:14px;
}
#u13975 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:20px;
}
#u13976 {
  position:absolute;
  left:59px;
  top:31px;
  width:8px;
  height:20px;
}
#u13977 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u13978 {
  position:absolute;
  left:101px;
  top:414px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u13979 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u13980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u13980 {
  position:absolute;
  left:184px;
  top:402px;
  width:485px;
  height:32px;
  text-align:left;
}
#u13981 {
  position:absolute;
  left:2px;
  top:8px;
  width:481px;
  word-wrap:break-word;
}
#u13982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u13982 {
  position:absolute;
  left:73px;
  top:456px;
  width:92px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u13983 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u13984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:32px;
}
#u13984 {
  position:absolute;
  left:184px;
  top:444px;
  width:485px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13985 {
  position:absolute;
  left:2px;
  top:5px;
  width:481px;
  word-wrap:break-word;
}
#u13986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:39px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13986 {
  position:absolute;
  left:333px;
  top:526px;
  width:107px;
  height:39px;
}
#u13987 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u13988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:39px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u13988 {
  position:absolute;
  left:528px;
  top:526px;
  width:52px;
  height:39px;
  color:#666666;
}
#u13989 {
  position:absolute;
  left:2px;
  top:12px;
  width:48px;
  word-wrap:break-word;
}
#u13990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
}
#u13990 {
  position:absolute;
  left:65px;
  top:62px;
  width:99px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13991 {
  position:absolute;
  left:2px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u13990_ann {
  position:absolute;
  left:157px;
  top:58px;
  width:1px;
  height:1px;
}
#u13992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
}
#u13992 {
  position:absolute;
  left:179px;
  top:63px;
  width:99px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13993 {
  position:absolute;
  left:2px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u13994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
}
#u13994 {
  position:absolute;
  left:408px;
  top:63px;
  width:99px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13995 {
  position:absolute;
  left:2px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u13996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
}
#u13996 {
  position:absolute;
  left:294px;
  top:63px;
  width:99px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13997 {
  position:absolute;
  left:2px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u13998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:2px;
}
#u13998 {
  position:absolute;
  left:59px;
  top:97px;
  width:661px;
  height:1px;
}
#u13999 {
  position:absolute;
  left:2px;
  top:-8px;
  width:657px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u14000 {
  position:absolute;
  left:435px;
  top:370px;
  width:31px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u14001 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u14002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u14002 {
  position:absolute;
  left:487px;
  top:370px;
  width:31px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u14003 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u14004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u14006 {
  position:absolute;
  left:185px;
  top:151px;
  width:188px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u14007 {
  position:absolute;
  left:12px;
  top:5px;
  width:168px;
  word-wrap:break-word;
}
#u14008 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u14009 {
  position:absolute;
  left:347px;
  top:160px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u14010 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14011 {
  position:absolute;
  left:361px;
  top:163px;
  width:15px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u14012 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  word-wrap:break-word;
}
#u14013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u14013 {
  position:absolute;
  left:100px;
  top:151px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u14014 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u14015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14016 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u14017 {
  position:absolute;
  left:482px;
  top:150px;
  width:188px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u14018 {
  position:absolute;
  left:12px;
  top:8px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14017_ann {
  position:absolute;
  left:663px;
  top:146px;
  width:1px;
  height:1px;
}
#u14019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u14019 {
  position:absolute;
  left:397px;
  top:150px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u14020 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u14021 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u14023 {
  position:absolute;
  left:185px;
  top:192px;
  width:188px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u14024 {
  position:absolute;
  left:12px;
  top:5px;
  width:168px;
  word-wrap:break-word;
}
#u14025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u14026 {
  position:absolute;
  left:347px;
  top:201px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u14027 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14028 {
  position:absolute;
  left:361px;
  top:204px;
  width:15px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u14029 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  word-wrap:break-word;
}
#u14030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u14030 {
  position:absolute;
  left:100px;
  top:192px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u14031 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u14032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u14034 {
  position:absolute;
  left:482px;
  top:191px;
  width:188px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u14035 {
  position:absolute;
  left:12px;
  top:5px;
  width:168px;
  word-wrap:break-word;
}
#u14034_ann {
  position:absolute;
  left:663px;
  top:187px;
  width:1px;
  height:1px;
}
#u14036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u14037 {
  position:absolute;
  left:644px;
  top:200px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u14038 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14039 {
  position:absolute;
  left:658px;
  top:203px;
  width:15px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u14040 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  word-wrap:break-word;
}
#u14041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u14041 {
  position:absolute;
  left:397px;
  top:191px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u14042 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u14043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u14043 {
  position:absolute;
  left:100px;
  top:292px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u14044 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u14045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u14045 {
  position:absolute;
  left:185px;
  top:282px;
  width:185px;
  height:32px;
  text-align:left;
}
#u14046 {
  position:absolute;
  left:2px;
  top:8px;
  width:181px;
  word-wrap:break-word;
}
#u14045_ann {
  position:absolute;
  left:363px;
  top:278px;
  width:1px;
  height:1px;
}
#u14047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u14047 {
  position:absolute;
  left:389px;
  top:330px;
  width:79px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u14048 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u14049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u14049 {
  position:absolute;
  left:485px;
  top:323px;
  width:185px;
  height:32px;
  text-align:left;
}
#u14050 {
  position:absolute;
  left:2px;
  top:8px;
  width:181px;
  word-wrap:break-word;
}
#u14051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u14051 {
  position:absolute;
  left:379px;
  top:121px;
  width:92px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u14052 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u14053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u14053 {
  position:absolute;
  left:483px;
  top:111px;
  width:185px;
  height:32px;
  text-align:left;
}
#u14054 {
  position:absolute;
  left:2px;
  top:8px;
  width:181px;
  word-wrap:break-word;
}
#u14053_ann {
  position:absolute;
  left:661px;
  top:107px;
  width:1px;
  height:1px;
}
#u14055 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u14057 {
  position:absolute;
  left:185px;
  top:109px;
  width:188px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u14058 {
  position:absolute;
  left:12px;
  top:5px;
  width:168px;
  word-wrap:break-word;
}
#u14059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u14060 {
  position:absolute;
  left:347px;
  top:118px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u14061 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14062 {
  position:absolute;
  left:361px;
  top:121px;
  width:15px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u14063 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  word-wrap:break-word;
}
#u14064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u14064 {
  position:absolute;
  left:100px;
  top:109px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u14065 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u14064_ann {
  position:absolute;
  left:164px;
  top:105px;
  width:1px;
  height:1px;
}
#u14066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u14066 {
  position:absolute;
  left:76px;
  top:243px;
  width:92px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u14067 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u14068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u14068 {
  position:absolute;
  left:185px;
  top:235px;
  width:185px;
  height:32px;
  text-align:left;
}
#u14069 {
  position:absolute;
  left:2px;
  top:8px;
  width:181px;
  word-wrap:break-word;
}
#u14068_ann {
  position:absolute;
  left:363px;
  top:231px;
  width:1px;
  height:1px;
}
#u14070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u14070 {
  position:absolute;
  left:389px;
  top:241px;
  width:79px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u14071 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u14070_ann {
  position:absolute;
  left:461px;
  top:237px;
  width:1px;
  height:1px;
}
#u14072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u14072 {
  position:absolute;
  left:485px;
  top:234px;
  width:185px;
  height:32px;
  text-align:left;
}
#u14073 {
  position:absolute;
  left:2px;
  top:8px;
  width:181px;
  word-wrap:break-word;
}
#u14072_ann {
  position:absolute;
  left:663px;
  top:230px;
  width:1px;
  height:1px;
}
#u14074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u14074 {
  position:absolute;
  left:402px;
  top:285px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u14075 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u14076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u14076 {
  position:absolute;
  left:485px;
  top:277px;
  width:99px;
  height:32px;
  text-align:left;
}
#u14077 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u14076_ann {
  position:absolute;
  left:577px;
  top:273px;
  width:1px;
  height:1px;
}
#u14078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u14078 {
  position:absolute;
  left:85px;
  top:335px;
  width:83px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u14079 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u14080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u14080 {
  position:absolute;
  left:185px;
  top:323px;
  width:185px;
  height:32px;
  text-align:left;
}
#u14081 {
  position:absolute;
  left:2px;
  top:8px;
  width:181px;
  word-wrap:break-word;
}
#u14082 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 241, 241, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14083 {
  position:absolute;
  left:179px;
  top:362px;
  width:257px;
  height:32px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14084 {
  position:absolute;
  left:32px;
  top:5px;
  width:217px;
  word-wrap:break-word;
}
#u14085 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u14086 {
  position:absolute;
  left:414px;
  top:370px;
  width:16px;
  height:14px;
  opacity:0.43;
}
#u14087 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u14088 {
  position:absolute;
  left:429px;
  top:372px;
  width:13px;
  height:12px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u14089 {
  position:absolute;
  left:2px;
  top:1px;
  width:9px;
  word-wrap:break-word;
}
#u14090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u14090 {
  position:absolute;
  left:94px;
  top:370px;
  width:79px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u14091 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u14090_ann {
  position:absolute;
  left:166px;
  top:366px;
  width:1px;
  height:1px;
}
#u14092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
  text-align:right;
}
#u14092 {
  position:absolute;
  left:589px;
  top:284px;
  width:14px;
  height:16px;
  font-size:13px;
  color:#FF0000;
  text-align:right;
}
#u14093 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
