body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:649px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:485px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4133 {
  position:absolute;
  left:60px;
  top:20px;
  width:589px;
  height:485px;
}
#u4134 {
  position:absolute;
  left:2px;
  top:234px;
  width:585px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:2px;
}
#u4135 {
  position:absolute;
  left:60px;
  top:446px;
  width:587px;
  height:1px;
}
#u4136 {
  position:absolute;
  left:2px;
  top:-8px;
  width:583px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:39px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4137 {
  position:absolute;
  left:267px;
  top:455px;
  width:54px;
  height:39px;
}
#u4138 {
  position:absolute;
  left:2px;
  top:12px;
  width:50px;
  word-wrap:break-word;
}
#u4137_ann {
  position:absolute;
  left:314px;
  top:451px;
  width:1px;
  height:1px;
}
#u4139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:40px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 236, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4139 {
  position:absolute;
  left:60px;
  top:20px;
  width:589px;
  height:40px;
}
#u4140 {
  position:absolute;
  left:2px;
  top:12px;
  width:585px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#0000CC;
}
#u4141 {
  position:absolute;
  left:70px;
  top:32px;
  width:85px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#0000CC;
}
#u4142 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u4143 {
  position:absolute;
  left:634px;
  top:33px;
  width:12px;
  height:14px;
}
#u4144 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:20px;
}
#u4145 {
  position:absolute;
  left:59px;
  top:31px;
  width:8px;
  height:20px;
}
#u4146 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4147 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u4149 {
  position:absolute;
  left:193px;
  top:158px;
  width:188px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u4150 {
  position:absolute;
  left:12px;
  top:5px;
  width:168px;
  word-wrap:break-word;
}
#u4151 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u4152 {
  position:absolute;
  left:355px;
  top:167px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4153 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4154 {
  position:absolute;
  left:369px;
  top:170px;
  width:15px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u4155 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  word-wrap:break-word;
}
#u4156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u4156 {
  position:absolute;
  left:108px;
  top:158px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u4157 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u4158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u4158 {
  position:absolute;
  left:104px;
  top:356px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u4159 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4160 {
  position:absolute;
  left:189px;
  top:347px;
  width:452px;
  height:32px;
  text-align:left;
}
#u4161 {
  position:absolute;
  left:2px;
  top:8px;
  width:448px;
  word-wrap:break-word;
}
#u4162 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4163 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u4164 {
  position:absolute;
  left:193px;
  top:119px;
  width:188px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u4165 {
  position:absolute;
  left:12px;
  top:5px;
  width:168px;
  word-wrap:break-word;
}
#u4166 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u4167 {
  position:absolute;
  left:355px;
  top:128px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4168 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4169 {
  position:absolute;
  left:369px;
  top:131px;
  width:15px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u4170 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  word-wrap:break-word;
}
#u4171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u4171 {
  position:absolute;
  left:108px;
  top:119px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u4172 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u4173 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 241, 241, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4174 {
  position:absolute;
  left:193px;
  top:197px;
  width:257px;
  height:32px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4175 {
  position:absolute;
  left:32px;
  top:5px;
  width:217px;
  word-wrap:break-word;
}
#u4176 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u4177 {
  position:absolute;
  left:431px;
  top:205px;
  width:16px;
  height:14px;
  opacity:0.43;
}
#u4178 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u4179 {
  position:absolute;
  left:446px;
  top:207px;
  width:13px;
  height:12px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u4180 {
  position:absolute;
  left:2px;
  top:1px;
  width:9px;
  word-wrap:break-word;
}
#u4181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u4181 {
  position:absolute;
  left:108px;
  top:205px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u4182 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u4183 {
  position:absolute;
  left:122px;
  top:245px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u4184 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4185 {
  position:absolute;
  left:190px;
  top:236px;
  width:192px;
  height:32px;
  text-align:left;
}
#u4186 {
  position:absolute;
  left:2px;
  top:8px;
  width:188px;
  word-wrap:break-word;
}
#u4187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u4187 {
  position:absolute;
  left:108px;
  top:287px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u4188 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u4189 {
  position:absolute;
  left:189px;
  top:278px;
  width:192px;
  height:32px;
  font-size:12px;
  text-align:left;
}
#u4190 {
  position:absolute;
  left:2px;
  top:8px;
  width:188px;
  word-wrap:break-word;
}
#u4191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u4191 {
  position:absolute;
  left:126px;
  top:320px;
  width:44px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u4192 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u4193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
  text-align:right;
}
#u4193 {
  position:absolute;
  left:190px;
  top:320px;
  width:40px;
  height:16px;
  font-size:13px;
  color:#FF0000;
  text-align:right;
}
#u4194 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u4195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
}
#u4195 {
  position:absolute;
  left:65px;
  top:66px;
  width:99px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u4196 {
  position:absolute;
  left:2px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u4195_ann {
  position:absolute;
  left:157px;
  top:62px;
  width:1px;
  height:1px;
}
#u4197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
}
#u4197 {
  position:absolute;
  left:174px;
  top:68px;
  width:99px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u4198 {
  position:absolute;
  left:2px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u4199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
}
#u4199 {
  position:absolute;
  left:291px;
  top:67px;
  width:99px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u4200 {
  position:absolute;
  left:2px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u4201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
}
#u4201 {
  position:absolute;
  left:522px;
  top:68px;
  width:99px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u4202 {
  position:absolute;
  left:2px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u4203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
}
#u4203 {
  position:absolute;
  left:409px;
  top:67px;
  width:99px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u4204 {
  position:absolute;
  left:2px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u4205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:2px;
}
#u4205 {
  position:absolute;
  left:64px;
  top:106px;
  width:585px;
  height:1px;
}
#u4206 {
  position:absolute;
  left:2px;
  top:-8px;
  width:581px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4207 {
  position:absolute;
  left:345px;
  top:454px;
  width:52px;
  height:43px;
  color:#666666;
}
#u4208 {
  position:absolute;
  left:2px;
  top:14px;
  width:48px;
  word-wrap:break-word;
}
