body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:479px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:483px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u19890 {
  position:absolute;
  left:54px;
  top:53px;
  width:425px;
  height:483px;
}
#u19891 {
  position:absolute;
  left:2px;
  top:234px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:2px;
}
#u19892 {
  position:absolute;
  left:53px;
  top:484px;
  width:426px;
  height:1px;
}
#u19893 {
  position:absolute;
  left:2px;
  top:-8px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19894 {
  position:absolute;
  left:319px;
  top:495px;
  width:54px;
  height:30px;
}
#u19895 {
  position:absolute;
  left:2px;
  top:7px;
  width:50px;
  word-wrap:break-word;
}
#u19894_ann {
  position:absolute;
  left:366px;
  top:491px;
  width:1px;
  height:1px;
}
#u19896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u19896 {
  position:absolute;
  left:403px;
  top:495px;
  width:52px;
  height:30px;
  color:#666666;
}
#u19897 {
  position:absolute;
  left:2px;
  top:7px;
  width:48px;
  word-wrap:break-word;
}
#u19898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:40px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 236, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19898 {
  position:absolute;
  left:54px;
  top:53px;
  width:425px;
  height:40px;
}
#u19899 {
  position:absolute;
  left:2px;
  top:12px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u19900 {
  position:absolute;
  left:64px;
  top:65px;
  width:85px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u19901 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u19902 {
  position:absolute;
  left:456px;
  top:66px;
  width:12px;
  height:14px;
}
#u19903 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u19904 {
  position:absolute;
  left:180px;
  top:306px;
  width:40px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u19905 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u19906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u19906 {
  position:absolute;
  left:232px;
  top:298px;
  width:205px;
  height:32px;
  text-align:left;
}
#u19907 {
  position:absolute;
  left:2px;
  top:8px;
  width:201px;
  word-wrap:break-word;
}
#u19908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u19908 {
  position:absolute;
  left:178px;
  top:461px;
  width:40px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u19909 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u19910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:20px;
}
#u19910 {
  position:absolute;
  left:53px;
  top:64px;
  width:8px;
  height:20px;
}
#u19911 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u19912 {
  position:absolute;
  left:232px;
  top:461px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u19913 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u19914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u19914 {
  position:absolute;
  left:169px;
  top:230px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u19915 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u19916 {
  position:absolute;
  left:232px;
  top:222px;
  width:205px;
  height:32px;
  text-align:left;
}
#u19917 {
  position:absolute;
  left:2px;
  top:8px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u19918 {
  position:absolute;
  left:169px;
  top:268px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#6E6B7B;
  text-align:right;
}
#u19919 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u19920 {
  position:absolute;
  left:231px;
  top:260px;
  width:206px;
  height:32px;
  text-align:left;
}
#u19921 {
  position:absolute;
  left:2px;
  top:8px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u19924 {
  position:absolute;
  left:234px;
  top:104px;
  width:204px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u19925 {
  position:absolute;
  left:12px;
  top:5px;
  width:184px;
  word-wrap:break-word;
}
#u19926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u19927 {
  position:absolute;
  left:409px;
  top:112px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19928 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19929 {
  position:absolute;
  left:425px;
  top:116px;
  width:15px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u19930 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  word-wrap:break-word;
}
#u19931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u19931 {
  position:absolute;
  left:153px;
  top:104px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u19932 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u19933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19934 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u19935 {
  position:absolute;
  left:233px;
  top:142px;
  width:204px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u19936 {
  position:absolute;
  left:12px;
  top:8px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19937 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u19938 {
  position:absolute;
  left:408px;
  top:150px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19939 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19940 {
  position:absolute;
  left:424px;
  top:154px;
  width:15px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u19941 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  word-wrap:break-word;
}
#u19942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u19942 {
  position:absolute;
  left:152px;
  top:142px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u19943 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u19944 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19945 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u19946 {
  position:absolute;
  left:233px;
  top:182px;
  width:204px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u19947 {
  position:absolute;
  left:12px;
  top:8px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u19949 {
  position:absolute;
  left:408px;
  top:190px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19950 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19951 {
  position:absolute;
  left:424px;
  top:194px;
  width:15px;
  height:12px;
  opacity:0;
  color:#FFFFFF;
}
#u19952 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  word-wrap:break-word;
}
#u19953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u19953 {
  position:absolute;
  left:152px;
  top:182px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u19954 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u19955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u19955 {
  position:absolute;
  left:108px;
  top:344px;
  width:112px;
  height:17px;
  text-align:right;
}
#u19956 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u19957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u19957 {
  position:absolute;
  left:233px;
  top:336px;
  width:205px;
  height:32px;
  text-align:left;
}
#u19958 {
  position:absolute;
  left:2px;
  top:8px;
  width:201px;
  word-wrap:break-word;
}
#u19959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u19959 {
  position:absolute;
  left:121px;
  top:386px;
  width:100px;
  height:17px;
  text-align:right;
}
#u19960 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u19961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u19961 {
  position:absolute;
  left:233px;
  top:378px;
  width:205px;
  height:32px;
  text-align:left;
}
#u19962 {
  position:absolute;
  left:2px;
  top:8px;
  width:201px;
  word-wrap:break-word;
}
#u19963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u19963 {
  position:absolute;
  left:73px;
  top:423px;
  width:146px;
  height:17px;
  text-align:right;
}
#u19964 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u19965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u19965 {
  position:absolute;
  left:232px;
  top:415px;
  width:205px;
  height:32px;
  text-align:left;
}
#u19966 {
  position:absolute;
  left:2px;
  top:8px;
  width:201px;
  word-wrap:break-word;
}
